{
  "dockerImage": {
    "reverseProxy": "docker.io/nginx:1.20",
    "jobs": {
      "mongodbMigration": "huggingface/datasets-server-jobs-mongodb_migration:sha-f70513e"
    },
    "services": {
      "admin": "huggingface/datasets-server-services-admin:sha-f70513e",
      "api": "huggingface/datasets-server-services-api:sha-f70513e"
    },
    "workers": {
      "datasets_based": "huggingface/datasets-server-workers-datasets_based:sha-f70513e"
    }
  }
}
