{
  "dockerImage": {
    "reverseProxy": "docker.io/nginx:1.20",
    "jobs": {
      "mongodbMigration": "huggingface/datasets-server-jobs-mongodb_migration:sha-c815296"
    },
    "services": {
      "admin": "huggingface/datasets-server-services-admin:sha-298bbc9",
      "api": "huggingface/datasets-server-services-api:sha-b9b950d"
    },
    "workers": {
      "datasets_based": "huggingface/datasets-server-workers-datasets_based:sha-50cb7b9"
    }
  }
}
