# SPDX-License-Identifier: Apache-2.0
# Copyright 2022 The HuggingFace Authors.

apiVersion: v1
kind: Service
metadata:
  name: "{{ include "name" . }}-api"
  annotations: {{ toYaml .Values.api.service.annotations | nindent 4 }}
  namespace: {{ .Release.Namespace }}
  labels: {{ include "labels.api" . | nindent 4 }}
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: {{ .Values.api.uvicornPort }}
  selector: {{ include "labels.api" . | nindent 4 }}
  type: {{ .Values.api.service.type }}
