# SPDX-License-Identifier: Apache-2.0
# Copyright 2022 The HuggingFace Authors.

apiVersion: apps/v1
kind: Deployment
metadata:
  labels: {{ include "labels.admin" . | nindent 4 }}
  name: "{{ include "release" . }}-admin"
  namespace: {{ .Release.Namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: {{ .Values.admin.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels: {{ include "labels.admin" . | nindent 6 }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels: {{ include "labels.admin" . | nindent 8 }}
    spec:
      imagePullSecrets: {{ toYaml .Values.imagePullSecrets | nindent 8 }}
      initContainers: {{ include "initContainerAssets" . | nindent 8 }}
      containers: {{ include "containerAdmin" . | nindent 8 }}
      nodeSelector: {{ toYaml .Values.admin.nodeSelector | nindent 8 }}
      tolerations: {{ toYaml .Values.admin.tolerations | nindent 8 }}
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (include "name" .) }}
      securityContext:
        runAsUser: {{ .Values.uid }}
        runAsGroup: {{ .Values.gid }}
        runAsNonRoot: true
