{
  "openapi": "3.1.0",
  "info": {
    "title": "Datasets server API",
    "description": "The 🤗 Datasets server API gives access to the contents, metadata and basic statistics of the Hugging Face Hub datasets.",
    "contact": {
      "name": "API Support",
      "email": "website@huggingface.co",
      "url": "https://github.com/huggingface/datasets-server/"
    },
    "version": "1.0",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "tags": [
    {
      "name": "datasets",
      "description": "API to access datasets"
    }
  ],
  "servers": [
    {
      "url": "https://datasets-server.huggingface.co",
      "description": "Production server"
    }
  ],
  "components": {
    "headers": {
      "Cache-Control": {
        "description": "Directives that control caching in browsers and shared caches. This directive is used internally for caching the responses: the API will serve the same response until the cache has expired.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "no-cache": {
            "summary": "No cache.",
            "value": "no-cache"
          },
          "max-age": {
            "summary": "Cache TTL.",
            "value": "max-age=120"
          }
        },
        "required": true
      },
      "Access-Control-Allow-Origin": {
        "description": "Indicates whether the response can be shared with requesting code from the given origin.",
        "schema": {
          "type": "string"
        },
        "example": "*",
        "required": true
      },
      "X-Error-Code-401": {
        "description": "A string that identifies the underlying error for 401.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ExternalUnauthenticatedError"
            }
          ]
        },
        "required": true
      },
      "X-Error-Code-404": {
        "description": "A string that identifies the underlying error for 404.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ExternalAuthenticatedError"
            },
            { "$ref": "#/components/schemas/X-Error-Code-ResponseNotFound" }
          ]
        },
        "required": true
      },
      "X-Error-Code-422": {
        "description": "A string that identifies the underlying error for 422.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-MissingRequiredParameter"
            }
          ]
        },
        "required": true
      },
      "X-Error-Code-500": {
        "description": "A string that identifies the underlying error for 500. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ResponseNotReadyError"
            },
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-first-rows": {
        "description": "A string that identifies the underlying error for 500 on /first-rows. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ResponseNotReadyError"
            },
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" },
            { "$ref": "#/components/schemas/X-Error-Code-StreamingRowsError" }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-is-valid": {
        "description": "A string that identifies the underlying error for 500 on /is-valid. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-common": {
        "description": "A string that identifies the underlying error for 500 on /parquet. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ResponseNotReadyError"
            },
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" },
            {
              "$ref": "#/components/schemas/X-Error-Code-ExternalFilesSizeRequestHTTPError"
            }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-rows": {
        "description": "A string that identifies the underlying error for 500 on /rows. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" },
            {
              "$ref": "#/components/schemas/X-Error-Code-RowsPostProcessingError"
            }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-search": {
        "description": "A string that identifies the underlying error for 500 on /search. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" },
            {
              "$ref": "#/components/schemas/X-Error-Code-RowsPostProcessingError"
            }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-valid": {
        "description": "A string that identifies the underlying error for 500 on /valid. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" }
          ]
        },
        "required": false
      },
      "X-Error-Code-501": {
        "description": "A string that identifies the underlying error for 501.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-DatasetInBlockListError"
            },
            {
              "$ref": "#/components/schemas/X-Error-Code-DatasetWithTooManyConfigsError"
            }
          ]
        },
        "required": true
      }
    },
    "schemas": {
      "ServerErrorResponse": {
        "type": "string",
        "example": "Internal Server Error"
      },
      "ConfigItem": {
        "type": "object",
        "required": ["dataset", "config"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          }
        }
      },
      "ConfigItems": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ConfigItem"
        }
      },
      "FailedConfigItem": {
        "type": "object",
        "required": ["dataset", "config", "error"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/CustomError"
          }
        }
      },
      "FailedConfigItems": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/FailedConfigItem"
        }
      },
      "SplitsResponse": {
        "type": "object",
        "required": ["splits"],
        "properties": {
          "splits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SplitItem"
            }
          },
          "pending": {
            "$ref": "#/components/schemas/ConfigItems"
          },
          "failed": {
            "$ref": "#/components/schemas/FailedConfigItems"
          }
        }
      },
      "SplitItem": {
        "type": "object",
        "required": ["dataset", "config", "split"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": {
            "type": "string"
          }
        }
      },
      "CustomError": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          },
          "cause_exception": {
            "type": "string"
          },
          "cause_message": {
            "type": "string"
          },
          "cause_traceback": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FirstRowsResponse": {
        "type": "object",
        "required": ["dataset", "config", "split", "features", "rows"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureItem"
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RowItem"
            }
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "required": ["features", "rows", "num_rows_total", "num_rows_per_page"],
        "properties": {
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureItem"
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RowItem"
            }
          },
          "num_rows_total": {
            "type": "integer"
          },
          "num_rows_per_page": {
            "type": "integer"
          }
        }
      },
      "FeatureItem": {
        "type": "object",
        "required": ["feature_idx", "name", "type"],
        "properties": {
          "feature_idx": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/Feature"
          }
        }
      },
      "Feature": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ValueFeature"
          },
          {
            "$ref": "#/components/schemas/ClassLabelFeature"
          },
          {
            "$ref": "#/components/schemas/ArrayXDFeature"
          },
          {
            "$ref": "#/components/schemas/TranslationFeature"
          },
          {
            "$ref": "#/components/schemas/TranslationVariableLanguagesFeature"
          },
          {
            "$ref": "#/components/schemas/SequenceFeature"
          },
          {
            "$ref": "#/components/schemas/DictFeature"
          },
          {
            "$ref": "#/components/schemas/ListFeature"
          },
          {
            "$ref": "#/components/schemas/AudioFeature"
          },
          {
            "$ref": "#/components/schemas/ImageFeature"
          }
        ]
      },
      "ValueFeature": {
        "type": "object",
        "required": ["_type", "dtype"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Value"]
          },
          "dtype": {
            "type": "string",
            "enum": [
              "null",
              "bool",
              "int8",
              "int16",
              "int32",
              "int64",
              "uint8",
              "uint16",
              "uint32",
              "uint64",
              "float16",
              "float32 (alias float)",
              "float64 (alias double)",
              "time32[(s|ms)]",
              "time64[(us|ns)]",
              "timestamp[(s|ms|us|ns)]",
              "timestamp[(s|ms|us|ns), tz=(tzstring)]",
              "date32",
              "date64",
              "duration[(s|ms|us|ns)]",
              "decimal128(precision, scale)",
              "decimal256(precision, scale)",
              "binary",
              "large_binary",
              "string",
              "large_string"
            ]
          }
        }
      },
      "ClassLabelFeature": {
        "type": "object",
        "required": ["_type", "names"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["ClassLabel"]
          },
          "names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ArrayXDFeature": {
        "type": "object",
        "required": ["_type", "shape"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Array2D", "Array3D", "Array4D", "Array5D"]
          },
          "shape": {
            "type": "array",
            "items": {
              "type": "integer",
              "nullable": true
            }
          }
        }
      },
      "TranslationFeature": {
        "type": "object",
        "required": ["_type", "languages"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Translation"]
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TranslationVariableLanguagesFeature": {
        "type": "object",
        "required": ["_type", "languages"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["TranslationVariableLanguages"]
          },
          "num_languages": {
            "type": "integer"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SequenceFeature": {
        "type": "object",
        "required": ["_type", "feature"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Sequence"]
          },
          "length": {
            "type": "integer"
          },
          "feature": {
            "$ref": "#/components/schemas/Feature"
          }
        }
      },
      "DictFeature": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/Feature"
        }
      },
      "ListFeature": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Feature"
        }
      },
      "AudioFeature": {
        "type": "object",
        "required": ["_type", "sampling_rate"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Audio"]
          },
          "sampling_rate": {
            "type": "number"
          },
          "mono": {
            "type": "boolean"
          },
          "decode": {
            "type": "boolean"
          }
        }
      },
      "ImageFeature": {
        "type": "object",
        "required": ["_type"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Image"]
          },
          "decode": {
            "type": "boolean"
          }
        }
      },
      "RowItem": {
        "type": "object",
        "required": ["row_idx", "row", "truncated_cells"],
        "properties": {
          "row_idx": {
            "type": "integer"
          },
          "row": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Cell"
            }
          },
          "truncated_cells": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Cell": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ValueCell"
          },
          {
            "$ref": "#/components/schemas/ClassLabelCell"
          },
          {
            "$ref": "#/components/schemas/Array2DCell"
          },
          {
            "$ref": "#/components/schemas/Array3DCell"
          },
          {
            "$ref": "#/components/schemas/Array4DCell"
          },
          {
            "$ref": "#/components/schemas/Array5DCell"
          },
          {
            "$ref": "#/components/schemas/TranslationCell"
          },
          {
            "$ref": "#/components/schemas/TranslationVariableLanguagesCell"
          },
          {
            "$ref": "#/components/schemas/SequenceCell"
          },
          {
            "$ref": "#/components/schemas/DictCell"
          },
          {
            "$ref": "#/components/schemas/ListCell"
          },
          {
            "$ref": "#/components/schemas/AudioCell"
          },
          {
            "$ref": "#/components/schemas/ImageCell"
          },
          {
            "$ref": "#/components/schemas/NullableImagesListCell"
          }
        ]
      },
      "ValueCell": {
        "oneOf": [
          {
            "type": "boolean"
          },
          {
            "type": "integer"
          },
          {
            "type": "number"
          },
          {
            "type": "string"
          }
        ],
        "nullable": true
      },
      "ClassLabelCell": {
        "type": "integer"
      },
      "Array2DCell": {
        "type": "array",
        "items": {
          "type": "array",
          "items": {
            "type": "number"
          }
        }
      },
      "Array3DCell": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Array2DCell"
        }
      },
      "Array4DCell": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Array3DCell"
        }
      },
      "Array5DCell": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Array4DCell"
        }
      },
      "TranslationCell": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "TranslationVariableLanguagesCell": {
        "type": "object",
        "required": ["language", "translation"],
        "properties": {
          "language": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "translation": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SequenceCell": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ListCell"
          },
          {
            "$ref": "#/components/schemas/DictionaryOfListsCell"
          }
        ]
      },
      "ListCell": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Cell"
        }
      },
      "DictionaryOfListsCell": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/ListCell"
        }
      },
      "DictCell": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/Cell"
        }
      },
      "AudioCell": {
        "type": "array",
        "items": {
          "type": "object",
          "required": ["src", "type"],
          "properties": {
            "src": {
              "type": "string",
              "format": "uri"
            },
            "type": {
              "type": "string",
              "enum": ["audio/wav", "audio/mpeg"]
            }
          }
        }
      },
      "ImageCell": {
        "type": "object",
        "properties": {
          "src": {
            "type": "string",
            "format": "uri"
          },
          "height": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        },
        "required": ["src", "height", "width"]
      },
      "NullableImagesListCell": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/ImageCell"
            },
            {
              "type": "null"
            }
          ]
        }
      },
      "ValidResponse": {
        "type": "object",
        "required": ["preview", "viewer"],
        "properties": {
          "viewer": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "preview": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IsValidResponse": {
        "type": "object",
        "required": ["preview", "viewer", "search"],
        "properties": {
          "viewer": {
            "type": "boolean"
          },
          "preview": {
            "type": "boolean"
          },
          "search": {
            "type": "boolean"
          }
        }
      },
      "PreviousJob": {
        "type": "object",
        "required": ["dataset", "config", "split", "kind"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": { "anyOf": [{ "type": "string" }, { "type": "null" }] }
        }
      },
      "PreviousJobs": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PreviousJob"
        }
      },
      "ParquetResponse": {
        "type": "object",
        "required": ["parquet_files", "partial"],
        "properties": {
          "parquet_files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SplitHubFile"
            }
          },
          "features": {
            "type": "object"
          },
          "pending": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "failed": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "partial": {
            "$ref": "#/components/schemas/Partial"
          }
        }
      },
      "SplitHubFile": {
        "type": "object",
        "required": ["dataset", "config", "split", "url", "filename", "size"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "filename": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          }
        }
      },
      "InfoResponse": {
        "type": "object",
        "required": ["dataset_info", "partial"],
        "properties": {
          "dataset_info": {
            "type": "object",
            "description": "A dump of the DatasetInfo object from the datasets library. See https://huggingface.co/docs/datasets/en/package_reference/main_classes#datasets.DatasetInfo. We don't describe the contents of these metadata for now."
          },
          "pending": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "failed": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "partial": {
            "$ref": "#/components/schemas/Partial"
          }
        }
      },
      "Partial": {
        "type": "boolean",
        "description": "True means that the response has been computed on part of the dataset (typically the first 5GB). False means that the complete dataset was used."
      },
      "DatasetSize": {
        "type": "object",
        "required": [
          "dataset",
          "num_bytes_parquet_files",
          "num_bytes_memory",
          "num_rows"
        ],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "num_bytes_original_files": {
            "type": "integer"
          },
          "num_bytes_parquet_files": {
            "type": "integer"
          },
          "num_bytes_memory": {
            "type": "integer"
          },
          "num_rows": {
            "type": "integer"
          }
        }
      },
      "ConfigSize": {
        "type": "object",
        "required": [
          "dataset",
          "config",
          "num_bytes_parquet_files",
          "num_bytes_memory",
          "num_rows",
          "num_columns"
        ],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "num_bytes_original_files": {
            "type": "integer"
          },
          "num_bytes_parquet_files": {
            "type": "integer"
          },
          "num_bytes_memory": {
            "type": "integer"
          },
          "num_rows": {
            "type": "integer"
          },
          "num_columns": {
            "type": "integer"
          }
        }
      },
      "SplitSize": {
        "type": "object",
        "required": [
          "dataset",
          "config",
          "split",
          "num_bytes_parquet_files",
          "num_bytes_memory",
          "num_rows",
          "num_columns"
        ],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": {
            "type": "string"
          },
          "num_bytes_parquet_files": {
            "type": "integer"
          },
          "num_bytes_memory": {
            "type": "integer"
          },
          "num_rows": {
            "type": "integer"
          },
          "num_columns": {
            "type": "integer"
          }
        }
      },
      "DatasetSizeResponse": {
        "type": "object",
        "required": ["size", "pending", "failed", "partial"],
        "properties": {
          "size": {
            "type": "object",
            "required": ["dataset", "configs", "splits"],
            "properties": {
              "dataset": {
                "$ref": "#/components/schemas/DatasetSize"
              },
              "configs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ConfigSize"
                }
              },
              "splits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitSize"
                }
              }
            }
          },
          "pending": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "failed": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "partial": {
            "$ref": "#/components/schemas/Partial"
          }
        }
      },
      "ConfigSizeResponse": {
        "type": "object",
        "required": ["size", "partial"],
        "properties": {
          "size": {
            "type": "object",
            "required": ["config", "splits"],
            "properties": {
              "config": {
                "$ref": "#/components/schemas/ConfigSize"
              },
              "splits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitSize"
                }
              }
            }
          },
          "partial": {
            "$ref": "#/components/schemas/Partial"
          }
        }
      },
      "SizeResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/DatasetSizeResponse"
          },
          {
            "$ref": "#/components/schemas/ConfigSizeResponse"
          }
        ]
      },
      "OptInOutUrlsCountResponse": {
        "type": "object",
        "required": [
          "urls_columns",
          "num_opt_in_urls",
          "num_opt_out_urls",
          "num_urls",
          "num_scanned_rows",
          "has_urls_columns"
        ],
        "properties": {
          "urls_columns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "num_opt_in_urls": {
            "type": "integer"
          },
          "num_opt_out_urls": {
            "type": "integer"
          },
          "num_urls": {
            "type": "integer"
          },
          "num_scanned_rows": {
            "type": "integer"
          },
          "has_urls_columns": {
            "type": "boolean"
          },
          "full_scan": { "anyOf": [{ "type": "boolean" }, { "type": "null" }] }
        }
      },
      "ColumnType": {
        "type": "string",
        "enum": ["float", "int", "class_label"]
      },
      "Histogram": {
        "type": "object",
        "required": ["hist", "bin_edges"],
        "properties": {
          "hist": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "bin_edges": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      },
      "NumericalStatisticsItem": {
        "type": "object",
        "required": [
          "nan_count",
          "nan_proportion",
          "min",
          "max",
          "mean",
          "median",
          "std",
          "histogram"
        ],
        "properties": {
          "nan_count": {
            "type": "integer"
          },
          "nan_proportion": {
            "type": "number"
          },
          "min": {
            "type": "number"
          },
          "max": {
            "type": "number"
          },
          "mean": {
            "type": "number"
          },
          "median": {
            "type": "number"
          },
          "std": {
            "type": "number"
          },
          "histogram": {
            "$ref": "#/components/schemas/Histogram"
          }
        }
      },
      "CategoricalStatisticsItem": {
        "type": "object",
        "required": ["nan_count", "nan_proportion", "n_unique", "frequencies"],
        "properties": {
          "nan_count": {
            "type": "integer"
          },
          "nan_proportion": {
            "type": "number"
          },
          "n_unique": {
            "type": "integer"
          },
          "frequencies": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "StatisticsPerColumnItem": {
        "type": "object",
        "required": ["column_name", "column_type", "column_statistics"],
        "properties": {
          "column_name": {
            "type": "string"
          },
          "column_type": {
            "$ref": "#/components/schemas/ColumnType"
          },
          "column_statistics": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/NumericalStatisticsItem"
              },
              {
                "$ref": "#/components/schemas/CategoricalStatisticsItem"
              }
            ]
          }
        }
      },
      "StatisticsResponse": {
        "type": "object",
        "required": ["statistics", "num_examples"],
        "properties": {
          "statistics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatisticsPerColumnItem"
            }
          },
          "num_examples": {
            "type": "integer"
          }
        }
      },
      "X-Error-Code-DatasetInBlockListError": {
        "type": "string",
        "const": "DatasetInBlockListError",
        "description": "The dataset is in the list of blocked datasets."
      },
      "X-Error-Code-DatasetWithTooManyConfigsError": {
        "type": "string",
        "const": "DatasetWithTooManyConfigsError",
        "description": "The number of configs of a dataset exceeded the limit."
      },
      "X-Error-Code-ExternalAuthenticatedError": {
        "type": "string",
        "const": "ExternalAuthenticatedError",
        "description": "Raised when the external authentication check failed while the user was authenticated. Even if the external authentication server returns 403 in that case, we return 404 because we don't know if the dataset exist or not. It's also coherent with how the Hugging Face Hub works."
      },
      "X-Error-Code-ExternalFilesSizeRequestHTTPError": {
        "type": "string",
        "const": "ExternalFilesSizeRequestHTTPError",
        "description": "We failed to get the size of the external files."
      },
      "X-Error-Code-ExternalUnauthenticatedError": {
        "type": "string",
        "const": "ExternalUnauthenticatedError",
        "description": "The external authentication check failed while the user was unauthenticated."
      },
      "X-Error-Code-ResponseNotFound": {
        "type": "string",
        "const": "ResponseNotFound",
        "description": "Raised when the response has not been found."
      },
      "X-Error-Code-MissingRequiredParameter": {
        "type": "string",
        "const": "MissingRequiredParameter",
        "description": "A required parameter is missing."
      },
      "X-Error-Code-ResponseNotReadyError": {
        "type": "string",
        "const": "ResponseNotReadyError",
        "description": "The response has not been processed yet."
      },
      "X-Error-Code-RowsPostProcessingError": {
        "type": "string",
        "const": "RowsPostProcessingError",
        "description": "The rows could not be post-processed successfully."
      },
      "X-Error-Code-StreamingRowsError": {
        "type": "string",
        "const": "StreamingRowsError",
        "description": "The rows could not be fetched in streaming mode."
      },
      "X-Error-Code-UnexpectedError": {
        "type": "string",
        "const": "UnexpectedError",
        "description": "The job runner raised an unexpected error."
      }
    },
    "securitySchemes": {
      "CookieHuggingFace": {
        "type": "apiKey",
        "description": "The HuggingFace cookie. Get it by logging in to https://huggingface.co/. It can only be used from the huggingface.co domain, and can thus only be used by Hub features like the [dataset viewer](https://huggingface.co/docs/hub/datasets-viewer), for example.",
        "name": "token",
        "in": "cookie"
      },
      "AuthorizationHuggingFaceApiToken": {
        "type": "http",
        "description": "The HuggingFace API token. Create a User Access Token with read access at https://huggingface.co/settings/tokens. You can also use an Organization API token. It gives access to the public datasets, and to the [gated datasets](https://huggingface.co/docs/hub/datasets-gated) for which you have accepted the conditions.",
        "scheme": "bearer",
        "bearerFormat": "A User Access Token is prefixed with `hf_`, while an Organization API token is prefixed with `api_org_`."
      },
      "AuthorizationHuggingFaceJWT": {
        "type": "http",
        "description": "A JWT generated by the HuggingFace Hub, when it calls the API. This mechanism only works for JWT signed with the HuggingFace Hub's key. It gives access to the public datasets, and to the [gated datasets](https://huggingface.co/docs/hub/datasets-gated) for which the user has accepted the conditions.",
        "scheme": "bearer",
        "bearerFormat": "A JWT, prefixed with `jwt:`."
      }
    },
    "examples": {
      "InexistentConfigError": {
        "summary": "The response is not found because the config does not exist.",
        "description": "try with config=inexistent-config.",
        "value": {
          "error": "Not found."
        }
      },
      "InexistentDatasetError": {
        "summary": "The dataset does not exist.",
        "description": "try with dataset=inexistent-dataset.",
        "value": {
          "error": "The dataset does not exist, or is not accessible without authentication (private or gated). Please check the spelling of the dataset name or retry with authentication."
        }
      },
      "InexistentSplitError": {
        "summary": "The response is not found because the split does not exist.",
        "description": "try with split=inexistent-split.",
        "value": {
          "error": "Not found."
        }
      },
      "AuthorizedPrivateDatasetError": {
        "summary": "The dataset is private, and you are not authorized.",
        "description": "try with dataset=severo/test_private.",
        "value": {
          "error": "The dataset does not exist, or is not accessible without authentication (private or gated). Please check the spelling of the dataset name or retry with authentication."
        }
      },
      "UnauthorizedPrivateDatasetError": {
        "summary": "The dataset is private, and you are authorized, but private datasets are not supported yet.",
        "description": "try with dataset=severo/test_private.",
        "value": {
          "error": "Not found."
        }
      },
      "UnauthorizedGatedDatasetError": {
        "summary": "The dataset is public but gated, and you are not authenticated or authorized.",
        "description": "try with dataset=severo/test_gated.",
        "value": {
          "error": "The dataset does not exist, or is not accessible without authentication (private or gated). Please check the spelling of the dataset name or retry with authentication."
        }
      },
      "MissingDatasetParameterError": {
        "summary": "The dataset parameter is missing.",
        "description": "try without setting ?dataset",
        "value": {
          "error": "Parameter 'dataset' is required"
        }
      },
      "EmptyDatasetParameterError": {
        "summary": "The dataset parameter is empty.",
        "description": "try with ?dataset=",
        "value": {
          "error": "Parameter 'dataset' is required"
        }
      },
      "MissingDatasetConfigSplitParameterError": {
        "summary": "One of the dataset, config or split parameters is missing.",
        "description": "try without setting ?dataset",
        "value": {
          "error": "Parameters 'split', 'config' and 'dataset' are required"
        }
      },
      "EmptyDatasetConfigSplitParameterError": {
        "summary": "One of the dataset, config or split parameters is empty.",
        "description": "try with ?dataset=",
        "value": {
          "error": "Parameters 'split', 'config' and 'dataset' are required"
        }
      },
      "ResponseNotReadyError": {
        "summary": "The response is not ready yet. You can retry later. The response header 'x-error-code' contains 'ResponseNotReady'.",
        "description": "Create a new dataset and try immediately, before the response could be generated.",
        "value": {
          "error": "The server is busier than usual and the response is not ready yet. Please retry later."
        }
      },
      "UnexpectedJsonError": {
        "summary": "The server encountered an unexpected error",
        "description": "This error indicates a bug in the code or a failure in the infrastructure. It can be reported to https://github.com/huggingface/datasets-server/issues.",
        "value": {
          "error": "Unexpected error."
        }
      },
      "UnexpectedTextError": {
        "summary": "The server encountered an unexpected error",
        "description": "This error indicates a bug in the code or a failure in the infrastructure. It can be reported to https://github.com/huggingface/datasets-server/issues.",
        "value": "Internal Server Error."
      }
    },
    "parameters": {
      "RequiredDataset": {
        "name": "dataset",
        "in": "query",
        "description": "The identifier of the dataset on the Hub.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "glue": {
            "summary": "A canonical dataset",
            "value": "glue"
          },
          "Helsinki-NLP/tatoeba_mt": {
            "summary": "A namespaced dataset",
            "value": "Helsinki-NLP/tatoeba_mt"
          }
        }
      },
      "RequiredConfig": {
        "name": "config",
        "in": "query",
        "description": "The dataset configuration (or subset).",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "cola": {
            "summary": "A subset of the glue dataset",
            "value": "cola"
          },
          "yangdong/ecqa": {
            "summary": "The default configuration given by the 🤗 Datasets library",
            "value": "default"
          }
        }
      },
      "RequiredSplit": {
        "name": "split",
        "in": "query",
        "description": "The split name.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "train": {
            "summary": "train split",
            "value": "train"
          },
          "test": {
            "summary": "test split",
            "value": "test"
          },
          "validation": {
            "summary": "validation split",
            "value": "validation"
          }
        }
      },
      "OptionalConfig": {
        "name": "config",
        "in": "query",
        "description": "The dataset configuration (or subset) on which to filter the response.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "cola": {
            "summary": "A subset of the glue dataset",
            "value": "cola"
          },
          "yangdong/ecqa": {
            "summary": "The default configuration given by the 🤗 Datasets library",
            "value": "default"
          }
        }
      },
      "OptionalSplit": {
        "name": "split",
        "in": "query",
        "description": "The split name.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "train": {
            "summary": "train split",
            "value": "train"
          },
          "test": {
            "summary": "test split",
            "value": "test"
          },
          "validation": {
            "summary": "validation split",
            "value": "validation"
          }
        }
      }
    },
    "responses": {
      "Common401": {
        "description": "If the external authentication step on the Hugging Face Hub failed, and no authentication mechanism has been provided. Retry with authentication.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-401"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "inexistent dataset, and not authenticated": {
                "$ref": "#/components/examples/InexistentDatasetError"
              },
              "private dataset, and not authenticated or authorized": {
                "$ref": "#/components/examples/UnauthorizedPrivateDatasetError"
              }
            }
          }
        }
      },
      "Dataset404": {
        "description": "If the repository to download from cannot be found. This may be because it doesn't exist, or because it is set to `private` and you do not have access.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-404"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "inexistent dataset, while authenticated": {
                "$ref": "#/components/examples/InexistentDatasetError"
              },
              "private dataset, while authenticated and authorized": {
                "$ref": "#/components/examples/AuthorizedPrivateDatasetError"
              },
              "gated dataset, and not authenticated or authorized": {
                "$ref": "#/components/examples/UnauthorizedGatedDatasetError"
              }
            }
          }
        }
      },
      "Dataset422": {
        "description": "The `dataset` parameter has not been provided.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-422"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "missing dataset parameter": {
                "$ref": "#/components/examples/MissingDatasetParameterError"
              },
              "empty dataset parameter": {
                "$ref": "#/components/examples/EmptyDatasetParameterError"
              }
            }
          }
        }
      },
      "DatasetConfig404": {
        "description": "If the repository to download from cannot be found. This may be because it doesn't exist, or because it is set to `private` and you do not have access.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-404"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "inexistent dataset, while authenticated": {
                "$ref": "#/components/examples/InexistentDatasetError"
              },
              "private dataset, while authenticated and authorized": {
                "$ref": "#/components/examples/AuthorizedPrivateDatasetError"
              },
              "gated dataset, and not authenticated or authorized": {
                "$ref": "#/components/examples/UnauthorizedGatedDatasetError"
              },
              "inexistent config": {
                "$ref": "#/components/examples/InexistentConfigError"
              }
            }
          }
        }
      },
      "DatasetConfigSplit404": {
        "description": "If the repository to download from cannot be found, or if the config or split does not exist in the dataset. Note that this may be because the dataset doesn't exist, or because it is set to `private` and you do not have access.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-404"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "inexistent dataset, while authenticated": {
                "$ref": "#/components/examples/InexistentDatasetError"
              },
              "private dataset, while authenticated and authorized": {
                "$ref": "#/components/examples/AuthorizedPrivateDatasetError"
              },
              "gated dataset, and not authenticated or authorized": {
                "$ref": "#/components/examples/UnauthorizedGatedDatasetError"
              },
              "inexistent config": {
                "$ref": "#/components/examples/InexistentConfigError"
              },
              "inexistent split": {
                "$ref": "#/components/examples/InexistentSplitError"
              }
            }
          }
        }
      },
      "DatasetConfigSplit422": {
        "description": "Some of the `dataset`, `config`, or `split` parameters have not been provided or are invalid.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-422"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "missing required parameter": {
                "$ref": "#/components/examples/MissingDatasetConfigSplitParameterError"
              },
              "empty required parameter": {
                "$ref": "#/components/examples/EmptyDatasetConfigSplitParameterError"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/splits": {
      "get": {
        "summary": "List of splits",
        "description": "The list of splits of a dataset.",
        "externalDocs": {
          "description": "See Splits (Hub docs)",
          "url": "https://huggingface.co/docs/datasets-server/splits"
        },
        "operationId": "listSplits",
        "security": [
          {},
          {
            "CookieHuggingFace": []
          },
          {
            "AuthorizationHuggingFaceApiToken": []
          },
          {
            "AuthorizationHuggingFaceJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredDataset"
          },
          {
            "$ref": "#/components/parameters/OptionalConfig"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of splits.</br>Beware: the response is not paginated.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitsResponse"
                },
                "examples": {
                  "all splits in a dataset": {
                    "summary": "duorc: two configs, six splits",
                    "description": "Try with https://datasets-server.huggingface.co/splits?dataset=duorc.",
                    "value": {
                      "splits": [
                        {
                          "dataset": "duorc",
                          "config": "ParaphraseRC",
                          "split": "train"
                        },
                        {
                          "dataset": "duorc",
                          "config": "ParaphraseRC",
                          "split": "validation"
                        },
                        {
                          "dataset": "duorc",
                          "config": "ParaphraseRC",
                          "split": "test"
                        },
                        {
                          "dataset": "duorc",
                          "config": "SelfRC",
                          "split": "train"
                        },
                        {
                          "dataset": "duorc",
                          "config": "SelfRC",
                          "split": "validation"
                        },
                        {
                          "dataset": "duorc",
                          "config": "SelfRC",
                          "split": "test"
                        }
                      ],
                      "pending": [],
                      "failed": []
                    }
                  },
                  "splits for a single config": {
                    "summary": "emotion has two configs. Setting config=unsplit only returns the splits for this config.",
                    "description": "Try with https://datasets-server.huggingface.co/splits?dataset=emotion&config=unsplit.",
                    "value": {
                      "splits": [
                        {
                          "dataset": "emotion",
                          "config": "unsplit",
                          "split": "train"
                        }
                      ]
                    }
                  },
                  "one of the config has an error": {
                    "summary": "one of the configs require manual download, and fails to give the split names",
                    "description": "Try with https://datasets-server.huggingface.co/splits?dataset=superb.",
                    "value": {
                      "splits": [
                        {
                          "dataset": "superb",
                          "config": "asr",
                          "split": "train"
                        },
                        {
                          "dataset": "superb",
                          "config": "asr",
                          "split": "validation"
                        },
                        {
                          "dataset": "superb",
                          "config": "asr",
                          "split": "test"
                        },
                        {
                          "dataset": "superb",
                          "config": "ic",
                          "split": "train"
                        },
                        {
                          "dataset": "superb",
                          "config": "ic",
                          "split": "validation"
                        },
                        {
                          "dataset": "superb",
                          "config": "ic",
                          "split": "test"
                        },
                        {
                          "dataset": "superb",
                          "config": "ks",
                          "split": "train"
                        },
                        {
                          "dataset": "superb",
                          "config": "ks",
                          "split": "validation"
                        },
                        {
                          "dataset": "superb",
                          "config": "ks",
                          "split": "test"
                        },
                        {
                          "dataset": "superb",
                          "config": "sd",
                          "split": "train"
                        },
                        { "dataset": "superb", "config": "sd", "split": "dev" },
                        {
                          "dataset": "superb",
                          "config": "sd",
                          "split": "test"
                        },
                        {
                          "dataset": "superb",
                          "config": "si",
                          "split": "train"
                        },
                        {
                          "dataset": "superb",
                          "config": "si",
                          "split": "validation"
                        },
                        { "dataset": "superb", "config": "si", "split": "test" }
                      ],
                      "pending": [],
                      "failed": [
                        {
                          "dataset": "superb",
                          "config": "er",
                          "error": {
                            "error": "dataset=superb requires manual download.",
                            "cause_exception": "ManualDownloadError",
                            "cause_message": "                    The dataset superb with config er requires manual data.\n                    Please follow the manual download instructions:\n\nPlease download the IEMOCAP dataset after submitting the request form here:\nhttps://sail.usc.edu/iemocap/iemocap_release.htm\nHaving downloaded the dataset you can extract it with `tar -xvzf IEMOCAP_full_release.tar.gz`\nwhich should create a folder called `IEMOCAP_full_release`\n\n                    Manual data can be loaded with:\n                     datasets.load_dataset(\"superb\", data_dir=\"<path/to/manual/data>\")",
                            "cause_traceback": [
                              "Traceback (most recent call last):\n",
                              "  File \"/src/services/worker/src/worker/job_runners/config/parquet_and_info.py\", line 299, in raise_if_requires_manual_download\n    builder._check_manual_download(\n",
                              "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/builder.py\", line 932, in _check_manual_download\n    raise ManualDownloadError(\n",
                              "datasets.builder.ManualDownloadError:                     The dataset superb with config er requires manual data.\n                    Please follow the manual download instructions:\n\nPlease download the IEMOCAP dataset after submitting the request form here:\nhttps://sail.usc.edu/iemocap/iemocap_release.htm\nHaving downloaded the dataset you can extract it with `tar -xvzf IEMOCAP_full_release.tar.gz`\nwhich should create a folder called `IEMOCAP_full_release`\n\n                    Manual data can be loaded with:\n                     datasets.load_dataset(\"superb\", data_dir=\"<path/to/manual/data>\")\n"
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common401"
          },
          "404": {
            "$ref": "#/components/responses/DatasetConfig404"
          },
          "422": {
            "$ref": "#/components/responses/Dataset422"
          },
          "500": {
            "description": "The server crashed, the response still hasn't been generated (the process is asynchronous), or the response couldn't be generated successfully due to an error in the dataset itself. The client can retry after a time, in particular in the case of the response still being processed. If the error does not vanish, it's possibly due to a bug in the API software or in the dataset, and should be reported.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "X-Error-Code": {
                "$ref": "#/components/headers/X-Error-Code-500"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomError"
                },
                "examples": {
                  "error in the dataset itself": {
                    "summary": "The dataset is empty, or a file is missing, or some other error that prevents the response to be created.",
                    "description": "Try with https://datasets-server.huggingface.co/splits?dataset=severo/empty",
                    "value": {
                      "error": "The dataset is empty.",
                      "cause_exception": "EmptyDatasetError",
                      "cause_message": "The directory at hf://datasets/severo/empty@5db043c2aee5fe0f2118c134de45f7b2e3230fbc doesn't contain any data files",
                      "cause_traceback": [
                        "Traceback (most recent call last):\n",
                        "  File \"/src/services/worker/src/worker/job_runners/dataset/config_names.py\", line 56, in compute_config_names_response\n    for config in sorted(get_dataset_config_names(path=dataset, use_auth_token=use_auth_token))\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/inspect.py\", line 351, in get_dataset_config_names\n    dataset_module = dataset_module_factory(\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/load.py\", line 1486, in dataset_module_factory\n    raise e1 from None\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/load.py\", line 1469, in dataset_module_factory\n    return HubDatasetModuleFactoryWithoutScript(\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/load.py\", line 1032, in get_module\n    else get_data_patterns(base_path, download_config=self.download_config)\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/data_files.py\", line 459, in get_data_patterns\n    raise EmptyDatasetError(f\"The directory at {base_path} doesn't contain any data files\") from None\n",
                        "datasets.data_files.EmptyDatasetError: The directory at hf://datasets/severo/empty@5db043c2aee5fe0f2118c134de45f7b2e3230fbc doesn't contain any data files\n"
                      ]
                    }
                  },
                  "response not ready": {
                    "$ref": "#/components/examples/ResponseNotReadyError"
                  },
                  "unexpected error": {
                    "$ref": "#/components/examples/UnexpectedJsonError"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "examples": {
                  "internal server error": {
                    "$ref": "#/components/examples/UnexpectedTextError"
                  }
                }
              }
            }
          },
          "501": {
            "description": "The server does not implement the feature.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "X-Error-Code": {
                "$ref": "#/components/headers/X-Error-Code-501"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomError"
                },
                "examples": {
                  "too many configs in the dataset": {
                    "summary": "The dataset has too many configs. The server does not support more than 3,000 configs.",
                    "description": "Try with https://datasets-server.huggingface.co/splits?dataset=facebook/flores",
                    "value": {
                      "error": "The maximum number of configs allowed is 3000, dataset has 41617 configs."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {}
        }
      }
    },
    "/first-rows": {
      "get": {
        "summary": "First rows of a split",
        "description": "The list of the 100 first rows of a dataset split.",
        "externalDocs": {
          "description": "See First rows (Hub docs)",
          "url": "https://huggingface.co/docs/datasets-server/first-rows"
        },
        "operationId": "listFirstRows",
        "security": [
          {},
          {
            "CookieHuggingFace": []
          },
          {
            "AuthorizationHuggingFaceApiToken": []
          },
          {
            "AuthorizationHuggingFaceJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredDataset"
          },
          {
            "$ref": "#/components/parameters/RequiredConfig"
          },
          {
            "$ref": "#/components/parameters/RequiredSplit"
          }
        ],
        "responses": {
          "200": {
            "description": "The <a href='https://huggingface.co/docs/datasets/about_dataset_features'>features</a>, and the 100 first rows of the split.</br>Note: the response can be truncated (less rows, or truncated cell contents): see examples.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirstRowsResponse"
                },
                "examples": {
                  "A simple dataset (imdb) with text and label": {
                    "summary": "Text, and label column. Only 3 rows are shown for brevity.",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=imdb&config=plain_text&split=train.",
                    "value": {
                      "dataset": "imdb",
                      "config": "plain_text",
                      "split": "train",
                      "features": [
                        {
                          "feature_idx": 0,
                          "name": "text",
                          "type": {
                            "dtype": "string",
                            "_type": "Value"
                          }
                        },
                        {
                          "feature_idx": 1,
                          "name": "label",
                          "type": {
                            "names": ["neg", "pos"],
                            "_type": "ClassLabel"
                          }
                        }
                      ],
                      "rows": [
                        {
                          "row_idx": 0,
                          "row": {
                            "text": "I rented I AM CURIOUS-YELLOW from my video store because of all the controversy that surrounded it when it was first released in 1967. I also heard that at first it was seized by U.S. customs if it ever tried to enter this country, therefore being a fan of films considered \"controversial\" I really had to see this for myself.<br /><br />The plot is centered around a young Swedish drama student named Lena who wants to learn everything she can about life. In particular she wants to focus her attentions to making some sort of documentary on what the average Swede thought about certain political issues such as the Vietnam War and race issues in the United States. In between asking politicians and ordinary denizens of Stockholm about their opinions on politics, she has sex with her drama teacher, classmates, and married men.<br /><br />What kills me about I AM CURIOUS-YELLOW is that 40 years ago, this was considered pornographic. Really, the sex and nudity scenes are few and far between, even then it's not shot like some cheaply made porno. While my countrymen mind find it shocking, in reality sex and nudity are a major staple in Swedish cinema. Even Ingmar Bergman, arguably their answer to good old boy John Ford, had sex scenes in his films.<br /><br />I do commend the filmmakers for the fact that any sex shown in the film is shown for artistic purposes rather than just to shock people and make money to be shown in pornographic theaters in America. I AM CURIOUS-YELLOW is a good film for anyone wanting to study the meat and potatoes (no pun intended) of Swedish cinema. But really, this film doesn't have much of a plot.",
                            "label": 0
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 1,
                          "row": {
                            "text": "\"I Am Curious: Yellow\" is a risible and pretentious steaming pile. It doesn't matter what one's political views are because this film can hardly be taken seriously on any level. As for the claim that frontal male nudity is an automatic NC-17, that isn't true. I've seen R-rated films with male nudity. Granted, they only offer some fleeting views, but where are the R-rated films with gaping vulvas and flapping labia? Nowhere, because they don't exist. The same goes for those crappy cable shows: schlongs swinging in the breeze but not a clitoris in sight. And those pretentious indie movies like The Brown Bunny, in which we're treated to the site of Vincent Gallo's throbbing johnson, but not a trace of pink visible on Chloe Sevigny. Before crying (or implying) \"double-standard\" in matters of nudity, the mentally obtuse should take into account one unavoidably obvious anatomical difference between men and women: there are no genitals on display when actresses appears nude, and the same cannot be said for a man. In fact, you generally won't see female genitals in an American film in anything short of porn or explicit erotica. This alleged double-standard is less a double standard than an admittedly depressing ability to come to terms culturally with the insides of women's bodies.",
                            "label": 0
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 2,
                          "row": {
                            "text": "If only to avoid making this type of film in the future. This film is interesting as an experiment but tells no cogent story.<br /><br />One might feel virtuous for sitting thru it because it touches on so many IMPORTANT issues but it does so without any discernable motive. The viewer comes away with no new perspectives (unless one comes up with one while one's mind wanders, as it will invariably do during this pointless film).<br /><br />One might better spend one's time staring out a window at a tree growing.<br /><br />",
                            "label": 0
                          },
                          "truncated_cells": []
                        }
                      ]
                    }
                  },
                  "Truncated cells": {
                    "summary": "Truncated cells due to the response size (has a timestamp column). Only 3 rows are shown for brevity.",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=ett&config=m2&split=test.",
                    "value": {
                      "dataset": "ett",
                      "config": "m2",
                      "split": "test",
                      "features": [
                        {
                          "feature_idx": 0,
                          "name": "start",
                          "type": {
                            "dtype": "timestamp[s]",
                            "_type": "Value"
                          }
                        },
                        {
                          "feature_idx": 1,
                          "name": "target",
                          "type": {
                            "feature": {
                              "dtype": "float32",
                              "_type": "Value"
                            },
                            "_type": "Sequence"
                          }
                        },
                        {
                          "feature_idx": 2,
                          "name": "feat_static_cat",
                          "type": {
                            "feature": {
                              "dtype": "uint64",
                              "_type": "Value"
                            },
                            "_type": "Sequence"
                          }
                        },
                        {
                          "feature_idx": 3,
                          "name": "feat_dynamic_real",
                          "type": {
                            "feature": {
                              "feature": {
                                "dtype": "float32",
                                "_type": "Value"
                              },
                              "_type": "Sequence"
                            },
                            "_type": "Sequence"
                          }
                        },
                        {
                          "feature_idx": 4,
                          "name": "item_id",
                          "type": {
                            "dtype": "string",
                            "_type": "Value"
                          }
                        }
                      ],
                      "rows": [
                        {
                          "row_idx": 0,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 1,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 2,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        }
                      ]
                    }
                  },
                  "Image column": {
                    "summary": "A column with images. Only 3 rows are shown for brevity.",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=huggan/horse2zebra&config=default&split=train.",
                    "value": {
                      "dataset": "huggan/horse2zebra",
                      "config": "default",
                      "split": "train",
                      "features": [
                        {
                          "feature_idx": 0,
                          "name": "imageA",
                          "type": {
                            "_type": "Image"
                          }
                        },
                        {
                          "feature_idx": 1,
                          "name": "imageB",
                          "type": {
                            "_type": "Image"
                          }
                        }
                      ],
                      "rows": [
                        {
                          "row_idx": 0,
                          "row": {
                            "imageA": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/default/train/0/imageA/image.jpg",
                              "height": 256,
                              "width": 256
                            },
                            "imageB": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/default/train/0/imageB/image.jpg",
                              "height": 256,
                              "width": 256
                            }
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 1,
                          "row": {
                            "imageA": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/default/train/1/imageA/image.jpg",
                              "height": 256,
                              "width": 256
                            },
                            "imageB": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/default/train/1/imageB/image.jpg",
                              "height": 256,
                              "width": 256
                            }
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 2,
                          "row": {
                            "imageA": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/default/train/2/imageA/image.jpg",
                              "height": 256,
                              "width": 256
                            },
                            "imageB": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/default/train/2/imageB/image.jpg",
                              "height": 256,
                              "width": 256
                            }
                          },
                          "truncated_cells": []
                        }
                      ]
                    }
                  },
                  "Audio column": {
                    "summary": "A column with audio files. Only 3 rows are shown for brevity.",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=asapp%2Fslue&config=voxceleb&split=train.",
                    "value": {
                      "dataset": "asapp/slue",
                      "config": "voxceleb",
                      "split": "train",
                      "features": [
                        {
                          "feature_idx": 0,
                          "name": "id",
                          "type": {
                            "dtype": "string",
                            "_type": "Value"
                          }
                        },
                        {
                          "feature_idx": 1,
                          "name": "audio",
                          "type": {
                            "sampling_rate": 16000,
                            "_type": "Audio"
                          }
                        },
                        {
                          "feature_idx": 2,
                          "name": "speaker_id",
                          "type": {
                            "dtype": "string",
                            "_type": "Value"
                          }
                        },
                        {
                          "feature_idx": 3,
                          "name": "normalized_text",
                          "type": {
                            "dtype": "string",
                            "_type": "Value"
                          }
                        },
                        {
                          "feature_idx": 4,
                          "name": "sentiment",
                          "type": {
                            "dtype": "string",
                            "_type": "Value"
                          }
                        },
                        {
                          "feature_idx": 5,
                          "name": "start_second",
                          "type": {
                            "dtype": "float64",
                            "_type": "Value"
                          }
                        },
                        {
                          "feature_idx": 6,
                          "name": "end_second",
                          "type": {
                            "dtype": "float64",
                            "_type": "Value"
                          }
                        }
                      ],
                      "rows": [
                        {
                          "row_idx": 0,
                          "row": {
                            "id": "id10059_229vKIGbxrI_00001",
                            "audio": [
                              {
                                "src": "https://datasets-server.huggingface.co/assets/asapp/slue/--/voxceleb/train/0/audio/audio.mp3",
                                "type": "audio/mpeg"
                              },
                              {
                                "src": "https://datasets-server.huggingface.co/assets/asapp/slue/--/voxceleb/train/0/audio/audio.wav",
                                "type": "audio/wav"
                              }
                            ],
                            "speaker_id": "id10059",
                            "normalized_text": "and i i don't believe in god no religion says yet i was",
                            "sentiment": "Neutral",
                            "start_second": 0,
                            "end_second": 4.24
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 1,
                          "row": {
                            "id": "id10059_229vKIGbxrI_00002",
                            "audio": [
                              {
                                "src": "https://datasets-server.huggingface.co/assets/asapp/slue/--/voxceleb/train/1/audio/audio.mp3",
                                "type": "audio/mpeg"
                              },
                              {
                                "src": "https://datasets-server.huggingface.co/assets/asapp/slue/--/voxceleb/train/1/audio/audio.wav",
                                "type": "audio/wav"
                              }
                            ],
                            "speaker_id": "id10059",
                            "normalized_text": "the question because of my mother till i was fourteen when i thought about it when i emerged with",
                            "sentiment": "Neutral",
                            "start_second": 0,
                            "end_second": 5.8
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 2,
                          "row": {
                            "id": "id10059_229vKIGbxrI_00003",
                            "audio": [
                              {
                                "src": "https://datasets-server.huggingface.co/assets/asapp/slue/--/voxceleb/train/2/audio/audio.mp3",
                                "type": "audio/mpeg"
                              },
                              {
                                "src": "https://datasets-server.huggingface.co/assets/asapp/slue/--/voxceleb/train/2/audio/audio.wav",
                                "type": "audio/wav"
                              }
                            ],
                            "speaker_id": "id10059",
                            "normalized_text": "from my own culture things changed i i think about it a lot i value our",
                            "sentiment": "Neutral",
                            "start_second": 0,
                            "end_second": 5.67
                          },
                          "truncated_cells": []
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common401"
          },
          "404": {
            "$ref": "#/components/responses/DatasetConfigSplit404"
          },
          "422": {
            "$ref": "#/components/responses/DatasetConfigSplit422"
          },
          "500": {
            "description": "The server crashed, the response still hasn't been generated (the process is asynchronous), or the response couldn't be generated successfully due to an error in the dataset itself. The client can retry after a time, in particular in the case of the response still being processed. If the error does not vanish, it's possibly due to a bug in the API software or in the dataset, and should be reported.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "X-Error-Code": {
                "$ref": "#/components/headers/X-Error-Code-500-first-rows"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomError"
                },
                "examples": {
                  "error in the dataset itself": {
                    "summary": "An error while processing the dataset prevents the response to be created.",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=atomic&config=atomic&split=train",
                    "value": {
                      "error": "Cannot load the dataset split (in streaming mode) to extract the first rows.",
                      "cause_exception": "FileNotFoundError",
                      "cause_message": "https://homes.cs.washington.edu/~msap/atomic/data/atomic_data.tgz",
                      "cause_traceback": [
                        "Traceback (most recent call last):\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/implementations/http.py\", line 417, in _info\n    await _file_info(\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/implementations/http.py\", line 837, in _file_info\n    r.raise_for_status()\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/aiohttp/client_reqrep.py\", line 1005, in raise_for_status\n    raise ClientResponseError(\n",
                        "aiohttp.client_exceptions.ClientResponseError: 404, message='Not Found', url=URL('https://maartensap.com/atomic/data/atomic_data.tgz')\n",
                        "\nThe above exception was the direct cause of the following exception:\n\n",
                        "Traceback (most recent call last):\n",
                        "  File \"/src/services/worker/src/worker/utils.py\", line 363, in get_rows_or_raise\n    return get_rows(\n",
                        "  File \"/src/services/worker/src/worker/utils.py\", line 305, in decorator\n    return func(*args, **kwargs)\n",
                        "  File \"/src/services/worker/src/worker/utils.py\", line 341, in get_rows\n    rows_plus_one = list(itertools.islice(ds, rows_max_number + 1))\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/iterable_dataset.py\", line 981, in __iter__\n    for key, example in ex_iterable:\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/iterable_dataset.py\", line 116, in __iter__\n    yield from self.generate_examples_fn(**self.kwargs)\n",
                        "  File \"/tmp/modules-cache/datasets_modules/datasets/atomic/c0f0ec7d10713c41dfc87f0cf17f936b122d22e19216051217c99134d38f6d7b/atomic.py\", line 123, in _generate_examples\n    for path, f in files:\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/download/streaming_download_manager.py\", line 866, in __iter__\n    yield from self.generator(*self.args, **self.kwargs)\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/download/streaming_download_manager.py\", line 917, in _iter_from_urlpath\n    with xopen(urlpath, \"rb\", use_auth_token=use_auth_token) as f:\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/download/streaming_download_manager.py\", line 498, in xopen\n    file_obj = fsspec.open(file, mode=mode, *args, **kwargs).open()\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/core.py\", line 134, in open\n    return self.__enter__()\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/core.py\", line 102, in __enter__\n    f = self.fs.open(self.path, mode=mode)\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/spec.py\", line 1199, in open\n    f = self._open(\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/implementations/http.py\", line 356, in _open\n    size = size or self.info(path, **kwargs)[\"size\"]\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/asyn.py\", line 115, in wrapper\n    return sync(self.loop, func, *args, **kwargs)\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/asyn.py\", line 100, in sync\n    raise return_result\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/asyn.py\", line 55, in _runner\n    result[0] = await coro\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/implementations/http.py\", line 430, in _info\n    raise FileNotFoundError(url) from exc\n",
                        "FileNotFoundError: https://homes.cs.washington.edu/~msap/atomic/data/atomic_data.tgz\n"
                      ]
                    }
                  },
                  "response not ready": {
                    "$ref": "#/components/examples/ResponseNotReadyError"
                  },
                  "unexpected error": {
                    "$ref": "#/components/examples/UnexpectedJsonError"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "examples": {
                  "internal server error": {
                    "$ref": "#/components/examples/UnexpectedTextError"
                  }
                }
              }
            }
          },
          "501": {
            "description": "The server does not implement the feature.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "X-Error-Code": {
                "$ref": "#/components/headers/X-Error-Code-501"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomError"
                },
                "examples": {}
              }
            }
          }
        }
      }
    },
    "/rows": {
      "get": {
        "summary": "A slice of rows of a split",
        "description": "The list of rows of a dataset split at a given slice location (offset). Up to 100 rows are returned, use the length parameter to get less.",
        "externalDocs": {
          "description": "See rows (Hub docs)",
          "url": "https://huggingface.co/docs/datasets-server/rows"
        },
        "operationId": "listRows",
        "security": [
          {},
          {
            "CookieHuggingFace": []
          },
          {
            "AuthorizationHuggingFaceApiToken": []
          },
          {
            "AuthorizationHuggingFaceJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredDataset"
          },
          {
            "$ref": "#/components/parameters/RequiredConfig"
          },
          {
            "$ref": "#/components/parameters/RequiredSplit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the slice.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "examples": {
              "0": {
                "summary": "from the beginning",
                "value": 0
              },
              "100": {
                "summary": "from the row at index 100",
                "value": 100
              }
            }
          },
          {
            "name": "length",
            "in": "query",
            "description": "The length of the slice",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 0,
              "maximum": 100
            },
            "examples": {
              "100": {
                "summary": "a slice of 100 rows",
                "value": 100
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The <a href='https://huggingface.co/docs/datasets/about_dataset_features'>features</a>, and the list of rows of the requested slice. Audio and bytes columns are not supported at the moment, and their content will be 'null'.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                },
                "examples": {
                  "A slice of a simple dataset (imdb)": {
                    "summary": "Get a slice of length 3 from row 234 (offset=234&length=3).",
                    "description": "Try with https://datasets-server.huggingface.co/rows?dataset=imdb&config=plain_text&split=train&offset=234&length=3.",
                    "value": {
                      "features": [
                        {
                          "feature_idx": 0,
                          "name": "text",
                          "type": { "dtype": "string", "_type": "Value" }
                        },
                        {
                          "feature_idx": 1,
                          "name": "label",
                          "type": {
                            "names": ["neg", "pos"],
                            "_type": "ClassLabel"
                          }
                        }
                      ],
                      "rows": [
                        {
                          "row_idx": 234,
                          "row": {
                            "text": "Well, you know the rest! This has to be the worst movie I've seen in a long long time. I can only imagine that Stephanie Beaham had some bills to pay when taking on this role.<br /><br />The lead role is played by (to me) a complete unknown and I would imagine disappeared right back into obscurity right after this turkey.<br /><br />Bruce Lee led the martial arts charge in the early 70's and since then fight scenes have to be either martial arts based or at least brutal if using street fighting techniques. This movie uses fast cuts to show off the martial arts, however, even this can't disguise the fact that the lady doesn't know how to throw a punch. An average 8 year old boy would take her apart on this showing.<br /><br />Sorry, the only mystery on show here is how this didn't win the golden raspberry for its year.",
                            "label": 0
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 235,
                          "row": {
[...]
