{
  "openapi": "3.1.0",
  "info": {
    "title": "Dataset viewer server API",
    "description": "The 🤗 dataset viewer API gives access to the contents, metadata and basic statistics of the Hugging Face Hub datasets.",
    "contact": {
      "name": "API Support",
      "email": "website@huggingface.co",
      "url": "https://github.com/huggingface/dataset-viewer/"
    },
    "version": "1.0",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "tags": [
    {
      "name": "datasets",
      "description": "API to access datasets"
    }
  ],
  "servers": [
    {
      "url": "https://datasets-server.huggingface.co",
      "description": "Production server"
    }
  ],
  "components": {
    "headers": {
      "Access-Control-Allow-Origin": {
        "description": "Indicates whether the response can be shared with requesting code from the given origin.",
        "schema": {
          "type": "string"
        },
        "example": "*",
        "required": true
      },
      "Cache-Control": {
        "description": "Directives that control caching in browsers and shared caches. This directive is used internally for caching the responses: the API will serve the same response until the cache has expired.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "no-cache": {
            "summary": "No cache.",
            "value": "no-cache"
          },
          "max-age": {
            "summary": "Cache TTL.",
            "value": "max-age=120"
          }
        },
        "required": true
      },
      "X-Error-Code-401": {
        "description": "A string that identifies the underlying error for 401.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ExternalUnauthenticatedError"
            }
          ]
        },
        "required": true
      },
      "X-Error-Code-404": {
        "description": "A string that identifies the underlying error for 404.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ExternalAuthenticatedError"
            },
            { "$ref": "#/components/schemas/X-Error-Code-ResponseNotFound" }
          ]
        },
        "required": true
      },
      "X-Error-Code-422": {
        "description": "A string that identifies the underlying error for 422.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-MissingRequiredParameter"
            }
          ]
        },
        "required": true
      },
      "X-Error-Code-500": {
        "description": "A string that identifies the underlying error for 500. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ResponseNotReadyError"
            },
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-first-rows": {
        "description": "A string that identifies the underlying error for 500 on /first-rows. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ResponseNotReadyError"
            },
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" },
            { "$ref": "#/components/schemas/X-Error-Code-StreamingRowsError" }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-is-valid": {
        "description": "A string that identifies the underlying error for 500 on /is-valid. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-common": {
        "description": "A string that identifies the underlying error for 500 on /parquet. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-ResponseNotReadyError"
            },
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-rows": {
        "description": "A string that identifies the underlying error for 500 on /rows. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" },
            {
              "$ref": "#/components/schemas/X-Error-Code-RowsPostProcessingError"
            }
          ]
        },
        "required": false
      },
      "X-Error-Code-500-search": {
        "description": "A string that identifies the underlying error for 500 on /search. It's marked as required: false because the header can be missing on text-plain response.",
        "schema": {
          "oneOf": [
            { "$ref": "#/components/schemas/X-Error-Code-UnexpectedError" },
            {
              "$ref": "#/components/schemas/X-Error-Code-RowsPostProcessingError"
            }
          ]
        },
        "required": false
      },
      "X-Error-Code-501": {
        "description": "A string that identifies the underlying error for 501.",
        "schema": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/X-Error-Code-DatasetInBlockListError"
            },
            {
              "$ref": "#/components/schemas/X-Error-Code-DatasetWithTooManyConfigsError"
            }
          ]
        },
        "required": true
      }
    },
    "schemas": {
      "ServerErrorResponse": {
        "type": "string",
        "example": "Internal Server Error"
      },
      "ConfigItem": {
        "type": "object",
        "required": ["dataset", "config"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          }
        }
      },
      "ConfigItems": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ConfigItem"
        }
      },
      "FailedConfigItem": {
        "type": "object",
        "required": ["dataset", "config", "error"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/CustomError"
          }
        }
      },
      "FailedConfigItems": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/FailedConfigItem"
        }
      },
      "SplitsResponse": {
        "type": "object",
        "required": ["splits"],
        "properties": {
          "splits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SplitItem"
            }
          },
          "pending": {
            "$ref": "#/components/schemas/ConfigItems"
          },
          "failed": {
            "$ref": "#/components/schemas/FailedConfigItems"
          }
        }
      },
      "SplitItem": {
        "type": "object",
        "required": ["dataset", "config", "split"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": {
            "type": "string"
          }
        }
      },
      "CustomError": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          },
          "cause_exception": {
            "type": "string"
          },
          "cause_message": {
            "type": "string"
          },
          "cause_traceback": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FirstRowsResponse": {
        "type": "object",
        "required": [
          "dataset",
          "config",
          "split",
          "features",
          "rows",
          "truncated"
        ],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureItem"
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RowItem"
            }
          },
          "truncated": {
            "type": "boolean"
          },
          "truncated_rows": {
            "type": "boolean"
          },
          "truncated_columns": {
            "type": "boolean"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "required": [
          "features",
          "rows",
          "num_rows_total",
          "num_rows_per_page",
          "partial"
        ],
        "properties": {
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureItem"
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RowItem"
            }
          },
          "num_rows_total": {
            "type": "integer"
          },
          "num_rows_per_page": {
            "type": "integer"
          },
          "partial": {
            "type": "boolean"
          }
        }
      },
      "FeatureItem": {
        "type": "object",
        "required": ["feature_idx", "name", "type"],
        "properties": {
          "feature_idx": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/Feature"
          }
        }
      },
      "Feature": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ValueFeature"
          },
          {
            "$ref": "#/components/schemas/ClassLabelFeature"
          },
          {
            "$ref": "#/components/schemas/ArrayXDFeature"
          },
          {
            "$ref": "#/components/schemas/TranslationFeature"
          },
          {
            "$ref": "#/components/schemas/TranslationVariableLanguagesFeature"
          },
          {
            "$ref": "#/components/schemas/SequenceFeature"
          },
          {
            "$ref": "#/components/schemas/LargeListFeature"
          },
          {
            "$ref": "#/components/schemas/DictFeature"
          },
          {
            "$ref": "#/components/schemas/ListFeature"
          },
          {
            "$ref": "#/components/schemas/LegacyListFeature"
          },
          {
            "$ref": "#/components/schemas/AudioFeature"
          },
          {
            "$ref": "#/components/schemas/ImageFeature"
          },
          {
            "$ref": "#/components/schemas/VideoFeature"
          },
          {
            "$ref": "#/components/schemas/PdfFeature"
          }
        ]
      },
      "ValueFeature": {
        "type": "object",
        "required": ["_type", "dtype"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Value"]
          },
          "dtype": {
            "type": "string",
            "enum": [
              "null",
              "bool",
              "int8",
              "int16",
              "int32",
              "int64",
              "uint8",
              "uint16",
              "uint32",
              "uint64",
              "float16",
              "float32 (alias float)",
              "float64 (alias double)",
              "time32[(s|ms)]",
              "time64[(us|ns)]",
              "timestamp[(s|ms|us|ns)]",
              "timestamp[(s|ms|us|ns), tz=(tzstring)]",
              "date32",
              "date64",
              "duration[(s|ms|us|ns)]",
              "decimal128(precision, scale)",
              "decimal256(precision, scale)",
              "binary",
              "large_binary",
              "string",
              "large_string"
            ]
          }
        }
      },
      "ClassLabelFeature": {
        "type": "object",
        "required": ["_type", "names"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["ClassLabel"]
          },
          "names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ArrayXDFeature": {
        "type": "object",
        "required": ["_type", "shape"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Array2D", "Array3D", "Array4D", "Array5D"]
          },
          "shape": {
            "type": "array",
            "items": {
              "type": "integer",
              "nullable": true
            }
          }
        }
      },
      "TranslationFeature": {
        "type": "object",
        "required": ["_type", "languages"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Translation"]
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TranslationVariableLanguagesFeature": {
        "type": "object",
        "required": ["_type", "languages"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["TranslationVariableLanguages"]
          },
          "num_languages": {
            "type": "integer"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SequenceFeature": {
        "type": "object",
        "required": ["_type", "feature"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Sequence"]
          },
          "length": {
            "type": "integer"
          },
          "feature": {
            "$ref": "#/components/schemas/Feature"
          }
        }
      },
      "ListFeature": {
        "type": "object",
        "required": ["_type", "feature"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["List"]
          },
          "feature": {
            "$ref": "#/components/schemas/Feature"
          }
        }
      },
      "LargeListFeature": {
        "type": "object",
        "required": ["_type", "feature"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["LargeList"]
          },
          "feature": {
            "$ref": "#/components/schemas/Feature"
          }
        }
      },
      "DictFeature": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/Feature"
        }
      },
      "LegacyListFeature": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Feature"
        }
      },
      "AudioFeature": {
        "type": "object",
        "required": ["_type", "sampling_rate"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Audio"]
          },
          "sampling_rate": {
            "type": "number"
          },
          "mono": {
            "type": "boolean"
          },
          "decode": {
            "type": "boolean"
          }
        }
      },
      "ImageFeature": {
        "type": "object",
        "required": ["_type"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Image"]
          },
          "decode": {
            "type": "boolean"
          }
        }
      },
      "PdfFeature": {
        "type": "object",
        "required": ["_type"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Pdf"]
          },
          "decode": {
            "type": "boolean"
          }
        }
      },
      "VideoFeature": {
        "type": "object",
        "required": ["_type"],
        "properties": {
          "_type": {
            "type": "string",
            "enum": ["Video"]
          },
          "decode": {
            "type": "boolean"
          }
        }
      },
      "RowItem": {
        "type": "object",
        "required": ["row_idx", "row", "truncated_cells"],
        "properties": {
          "row_idx": {
            "type": "integer"
          },
          "row": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Cell"
            }
          },
          "truncated_cells": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Cell": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ValueCell"
          },
          {
            "$ref": "#/components/schemas/ClassLabelCell"
          },
          {
            "$ref": "#/components/schemas/Array2DCell"
          },
          {
            "$ref": "#/components/schemas/Array3DCell"
          },
          {
            "$ref": "#/components/schemas/Array4DCell"
          },
          {
            "$ref": "#/components/schemas/Array5DCell"
          },
          {
            "$ref": "#/components/schemas/TranslationCell"
          },
          {
            "$ref": "#/components/schemas/TranslationVariableLanguagesCell"
          },
          {
            "$ref": "#/components/schemas/SequenceCell"
          },
          {
            "$ref": "#/components/schemas/DictCell"
          },
          {
            "$ref": "#/components/schemas/ListCell"
          },
          {
            "$ref": "#/components/schemas/AudioCell"
          },
          {
            "$ref": "#/components/schemas/ImageCell"
          },
          {
            "$ref": "#/components/schemas/NullableImagesListCell"
          },
          {
            "$ref": "#/components/schemas/VideoCell"
          },
          {
            "$ref": "#/components/schemas/PdfCell"
          }
        ]
      },
      "ValueCell": {
        "oneOf": [
          {
            "type": "boolean"
          },
          {
            "type": "integer"
          },
          {
            "type": "number"
          },
          {
            "type": "string"
          }
        ],
        "nullable": true
      },
      "ClassLabelCell": {
        "type": "integer"
      },
      "Array2DCell": {
        "type": "array",
        "items": {
          "type": "array",
          "items": {
            "type": "number"
          }
        }
      },
      "Array3DCell": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Array2DCell"
        }
      },
      "Array4DCell": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Array3DCell"
        }
      },
      "Array5DCell": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Array4DCell"
        }
      },
      "TranslationCell": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "TranslationVariableLanguagesCell": {
        "type": "object",
        "required": ["language", "translation"],
        "properties": {
          "language": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "translation": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SequenceCell": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ListCell"
          },
          {
            "$ref": "#/components/schemas/DictionaryOfListsCell"
          }
        ]
      },
      "ListCell": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Cell"
        }
      },
      "DictionaryOfListsCell": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/ListCell"
        }
      },
      "DictCell": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/Cell"
        }
      },
      "AudioCell": {
        "type": "array",
        "items": {
          "type": "object",
          "required": ["src", "type"],
          "properties": {
            "src": {
              "type": "string",
              "format": "uri"
            },
            "type": {
              "type": "string"
            }
          }
        }
      },
      "ImageCell": {
        "type": "object",
        "properties": {
          "src": {
            "type": "string",
            "format": "uri"
          },
          "height": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        },
        "required": ["src"]
      },
      "NullableImagesListCell": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/ImageCell"
            },
            {
              "type": "null"
            }
          ]
        }
      },
      "PdfCell": {
        "type": "object",
        "properties": {
          "src": {
            "type": "string",
            "format": "uri"
          },
          "thumbnail":{
            "$ref": "#/components/schemas/ImageCell"
          },
          "size_bytes": {
            "type": "integer"
          }
        },
        "required": ["src", "thumbnail", "size_bytes"]
      },
      "VideoCell": {
        "type": "object",
        "properties": {
          "src": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": ["src"]
      },
      "IsValidResponse": {
        "type": "object",
        "required": ["preview", "viewer", "search", "filter", "statistics"],
        "properties": {
          "viewer": {
            "type": "boolean"
          },
          "preview": {
            "type": "boolean"
          },
          "search": {
            "type": "boolean"
          },
          "filter": {
            "type": "boolean"
          },
          "statistics": {
            "type": "boolean"
          }
        }
      },
      "PreviousJob": {
        "type": "object",
        "required": ["dataset", "config", "split", "kind"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": { "anyOf": [{ "type": "string" }, { "type": "null" }] }
        }
      },
      "PreviousJobs": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PreviousJob"
        }
      },
      "ParquetResponse": {
        "type": "object",
        "required": ["parquet_files", "partial"],
        "properties": {
          "parquet_files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SplitHubFile"
            }
          },
          "features": {
            "type": "object"
          },
          "pending": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "failed": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "partial": {
            "$ref": "#/components/schemas/Partial"
          }
        }
      },
      "SplitHubFile": {
        "type": "object",
        "required": ["dataset", "config", "split", "url", "filename", "size"],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "filename": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          }
        }
      },
      "InfoResponse": {
        "type": "object",
        "required": ["dataset_info", "partial"],
        "properties": {
          "dataset_info": {
            "type": "object",
            "description": "A dump of the DatasetInfo object from the datasets library. See https://huggingface.co/docs/datasets/en/package_reference/main_classes#datasets.DatasetInfo. We don't describe the contents of these metadata for now."
          },
          "pending": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "failed": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "partial": {
            "$ref": "#/components/schemas/Partial"
          }
        }
      },
      "Partial": {
        "type": "boolean",
        "description": "True means that the response has been computed on part of the dataset (typically the first 5GB). False means that the complete dataset was used."
      },
      "DatasetSize": {
        "type": "object",
        "required": [
          "dataset",
          "num_bytes_parquet_files",
          "num_bytes_memory",
          "num_rows",
          "estimated_num_rows"
        ],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "num_bytes_original_files": {
            "type": "integer"
          },
          "num_bytes_parquet_files": {
            "type": "integer"
          },
          "num_bytes_memory": {
            "type": "integer"
          },
          "num_rows": {
            "type": "integer"
          },
          "estimated_num_rows": {
            "anyOf": [{ "type": "integer" }, { "type": "null" }]
          }
        }
      },
      "ConfigSize": {
        "type": "object",
        "required": [
          "dataset",
          "config",
          "num_bytes_parquet_files",
          "num_bytes_memory",
          "num_rows",
          "num_columns",
          "estimated_num_rows"
        ],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "num_bytes_original_files": {
            "type": "integer"
          },
          "num_bytes_parquet_files": {
            "type": "integer"
          },
          "num_bytes_memory": {
            "type": "integer"
          },
          "num_rows": {
            "type": "integer"
          },
          "num_columns": {
            "type": "integer"
          },
          "estimated_num_rows": {
            "anyOf": [{ "type": "integer" }, { "type": "null" }]
          }
        }
      },
      "SplitSize": {
        "type": "object",
        "required": [
          "dataset",
          "config",
          "split",
          "num_bytes_parquet_files",
          "num_bytes_memory",
          "num_rows",
          "num_columns",
          "estimated_num_rows"
        ],
        "properties": {
          "dataset": {
            "type": "string"
          },
          "config": {
            "type": "string"
          },
          "split": {
            "type": "string"
          },
          "num_bytes_parquet_files": {
            "type": "integer"
          },
          "num_bytes_memory": {
            "type": "integer"
          },
          "num_rows": {
            "type": "integer"
          },
          "num_columns": {
            "type": "integer"
          },
          "estimated_num_rows": {
            "anyOf": [{ "type": "integer" }, { "type": "null" }]
          }
        }
      },
      "DatasetSizeResponse": {
        "type": "object",
        "required": ["size", "pending", "failed", "partial"],
        "properties": {
          "size": {
            "type": "object",
            "required": ["dataset", "configs", "splits"],
            "properties": {
              "dataset": {
                "$ref": "#/components/schemas/DatasetSize"
              },
              "configs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ConfigSize"
                }
              },
              "splits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitSize"
                }
              }
            }
          },
          "pending": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "failed": {
            "$ref": "#/components/schemas/PreviousJobs"
          },
          "partial": {
            "$ref": "#/components/schemas/Partial"
          }
        }
      },
      "ConfigSizeResponse": {
        "type": "object",
        "required": ["size", "partial"],
        "properties": {
          "size": {
            "type": "object",
            "required": ["config", "splits"],
            "properties": {
              "config": {
                "$ref": "#/components/schemas/ConfigSize"
              },
              "splits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitSize"
                }
              }
            }
          },
          "partial": {
            "$ref": "#/components/schemas/Partial"
          }
        }
      },
      "SizeResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/DatasetSizeResponse"
          },
          {
            "$ref": "#/components/schemas/ConfigSizeResponse"
          }
        ]
      },
      "OptInOutUrlsCountResponse": {
        "type": "object",
        "required": [
          "urls_columns",
          "num_opt_in_urls",
          "num_opt_out_urls",
          "num_urls",
          "num_scanned_rows",
          "has_urls_columns",
          "full_scan"
        ],
        "properties": {
          "urls_columns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "num_opt_in_urls": {
            "type": "integer"
          },
          "num_opt_out_urls": {
            "type": "integer"
          },
          "num_urls": {
            "type": "integer"
          },
          "num_scanned_rows": {
            "type": "integer"
          },
          "has_urls_columns": {
            "type": "boolean"
          },
          "full_scan": { "anyOf": [{ "type": "boolean" }, { "type": "null" }] }
        }
      },
      "PresidioEntitiesCountResponse": {
        "type": "object",
        "required": [
          "scanned_columns",
          "num_rows_with_person_entities",
          "num_rows_with_phone_number_entities",
          "num_rows_with_email_address_entities",
          "num_rows_with_sensitive_pii",
          "num_scanned_rows",
          "has_scanned_columns"
        ],
        "properties": {
          "scanned_columns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "num_rows_with_person_entities": {
            "type": "integer"
          },
          "num_rows_with_phone_number_entities": {
            "type": "integer"
          },
          "num_rows_with_email_address_entities": {
            "type": "integer"
          },
          "num_rows_with_sensitive_pii": {
            "type": "integer"
          },
          "num_scanned_rows": {
            "type": "integer"
          },
          "has_scanned_columns": {
            "type": "boolean"
          },
          "full_scan": { "anyOf": [{ "type": "boolean" }, { "type": "null" }] }
        }
      },
      "ColumnType": {
        "type": "string",
        "enum": [
          "float",
          "int",
          "class_label",
          "string_label",
          "string_text",
          "bool",
          "list",
          "audio",
          "image",
          "datetime"
        ]
      },
      "Histogram": {
        "type": "object",
        "required": ["hist", "bin_edges"],
        "properties": {
          "hist": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "bin_edges": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      },
      "DatetimeHistogram": {
        "type": "object",
        "required": ["hist", "bin_edges"],
        "properties": {
          "hist": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "bin_edges": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NumericalStatisticsItem": {
        "type": "object",
        "required": [
          "nan_count",
          "nan_proportion",
          "min",
          "max",
          "mean",
          "median",
          "std",
          "histogram"
        ],
        "properties": {
          "nan_count": {
            "type": "integer"
          },
          "nan_proportion": {
            "type": "number"
          },
          "min": { "oneOf": [{ "type": "number" }, { "type": "null" }] },
          "max": { "oneOf": [{ "type": "number" }, { "type": "null" }] },
          "mean": { "oneOf": [{ "type": "number" }, { "type": "null" }] },
          "median": { "oneOf": [{ "type": "number" }, { "type": "null" }] },
          "std": { "oneOf": [{ "type": "number" }, { "type": "null" }] },
          "histogram": {
            "oneOf": [
              { "$ref": "#/components/schemas/Histogram" },
              { "type": "null" }
            ]
          }
        }
      },
      "DatetimeStatisticsItem": {
        "type": "object",
        "required": [
          "nan_count",
          "nan_proportion",
          "min",
          "max",
          "mean",
          "median",
          "std",
          "histogram"
        ],
        "properties": {
          "nan_count": {
            "type": "integer"
          },
          "nan_proportion": {
            "type": "number"
          },
          "min": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "max": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "mean": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "median": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "std": { "oneOf": [{ "type": "string" }, { "type": "null" }] },
          "histogram": {
            "oneOf": [
              { "$ref": "#/components/schemas/DatetimeHistogram" },
              { "type": "null" }
            ]
          }
        }
      },
      "CategoricalStatisticsItem": {
        "type": "object",
        "description": "note that fields 'no_label_count' and 'no_label_proportion' are not required, because some old entries still miss them, and we don't want to recompute all of them. See https://github.com/huggingface/dataset-viewer/issues/2573.",
        "required": ["nan_count", "nan_proportion", "n_unique", "frequencies"],
        "properties": {
          "nan_count": {
            "type": "integer"
          },
          "nan_proportion": {
            "type": "number"
          },
          "no_label_count": {
            "type": "integer"
          },
          "no_label_proportion": {
            "type": "number"
          },
          "n_unique": {
            "type": "integer"
          },
          "frequencies": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "BoolStatisticsItem": {
        "type": "object",
        "required": ["nan_count", "nan_proportion", "frequencies"],
        "properties": {
          "nan_count": {
            "type": "integer"
          },
          "nan_proportion": {
            "type": "number"
          },
          "frequencies": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "SupportedStatistics": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/NumericalStatisticsItem"
          },
          {
            "$ref": "#/components/schemas/DatetimeStatisticsItem"
          },
          {
            "$ref": "#/components/schemas/CategoricalStatisticsItem"
          },
          {
            "$ref": "#/components/schemas/BoolStatisticsItem"
          }
        ]
      },
      "StatisticsPerColumnItem": {
        "type": "object",
        "required": ["column_name", "column_type", "column_statistics"],
        "properties": {
          "column_name": {
            "type": "string"
          },
          "column_type": {
            "$ref": "#/components/schemas/ColumnType"
          },
          "column_statistics": {
            "$ref": "#/components/schemas/SupportedStatistics"
          }
        }
      },
      "StatisticsResponse": {
        "type": "object",
        "required": ["statistics", "num_examples"],
        "properties": {
          "statistics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatisticsPerColumnItem"
            }
          },
          "num_examples": {
            "type": "integer"
          },
          "partial": {
            "$ref": "#/components/schemas/Partial"
          }
        }
      },
      "X-Error-Code-DatasetInBlockListError": {
        "type": "string",
        "const": "DatasetInBlockListError",
        "description": "The dataset is in the list of blocked datasets."
      },
      "X-Error-Code-DatasetWithTooManyConfigsError": {
        "type": "string",
        "const": "DatasetWithTooManyConfigsError",
        "description": "The number of subsets of a dataset exceeded the limit."
      },
      "X-Error-Code-ExternalAuthenticatedError": {
        "type": "string",
        "const": "ExternalAuthenticatedError",
        "description": "Raised when the external authentication check failed while the user was authenticated. Even if the external authentication server returns 403 in that case, we return 404 because we don't know if the dataset exist or not. It's also coherent with how the Hugging Face Hub works."
      },
      "X-Error-Code-ExternalUnauthenticatedError": {
        "type": "string",
        "const": "ExternalUnauthenticatedError",
        "description": "The external authentication check failed while the user was unauthenticated."
      },
      "X-Error-Code-ResponseNotFound": {
        "type": "string",
        "const": "ResponseNotFound",
        "description": "Raised when the response has not been found."
      },
      "X-Error-Code-MissingRequiredParameter": {
        "type": "string",
        "const": "MissingRequiredParameter",
        "description": "A required parameter is missing."
      },
      "X-Error-Code-ResponseNotReadyError": {
        "type": "string",
        "const": "ResponseNotReadyError",
        "description": "The response has not been processed yet."
      },
      "X-Error-Code-RowsPostProcessingError": {
        "type": "string",
        "const": "RowsPostProcessingError",
        "description": "The rows could not be post-processed successfully."
      },
      "X-Error-Code-StreamingRowsError": {
        "type": "string",
        "const": "StreamingRowsError",
        "description": "The rows could not be fetched in streaming mode."
      },
      "X-Error-Code-UnexpectedError": {
        "type": "string",
        "const": "UnexpectedError",
        "description": "The job runner raised an unexpected error."
      }
    },
    "securitySchemes": {
      "AuthorizationHuggingFaceApiToken": {
        "type": "http",
        "description": "The HuggingFace API token. Create a User Access Token with read access at https://huggingface.co/settings/tokens. You can also use an Organization API token. It gives access to the public datasets, to the [gated datasets](https://huggingface.co/docs/hub/datasets-gated) for which you have accepted the conditions, and to your private datasets if you're a [PRO user](https://huggingface.co/pricing) or if the dataset is under your [Enterprise Hub organization](https://huggingface.co/enterprise).",
        "scheme": "bearer",
        "bearerFormat": "A User Access Token is prefixed with `hf_`, while an Organization API token is prefixed with `api_org_`."
      },
      "AuthorizationHuggingFaceJWT": {
        "type": "http",
        "description": "A JWT generated by the HuggingFace Hub, when it calls the API. This mechanism only works for JWT signed with the HuggingFace Hub's key. It gives access to the dataset.",
        "scheme": "bearer",
        "bearerFormat": "A JWT, prefixed with `jwt:`."
      }
    },
    "examples": {
      "InexistentConfigError": {
        "summary": "The response is not found because the subset does not exist.",
        "description": "try with config=inexistent-subset.",
        "value": {
          "error": "Not found."
        }
      },
      "InexistentDatasetError": {
        "summary": "The dataset does not exist.",
        "description": "try with dataset=inexistent-dataset.",
        "value": {
          "error": "The dataset does not exist, or is not accessible without authentication (private or gated). Please check the spelling of the dataset name or retry with authentication."
        }
      },
      "InexistentSplitError": {
        "summary": "The response is not found because the split does not exist.",
        "description": "try with split=inexistent-split.",
        "value": {
          "error": "Not found."
        }
      },
      "AuthorizedPrivateDatasetError": {
        "summary": "The dataset is private, and you are not authorized.",
        "description": "try with dataset=severo/test_private.",
        "value": {
          "error": "The dataset does not exist, or is not accessible without authentication (private or gated). Please check the spelling of the dataset name or retry with authentication."
        }
      },
      "UnauthorizedPrivateDatasetError": {
        "summary": "The dataset is private, and you are authorized, but private datasets are not supported yet.",
        "description": "try with dataset=severo/test_private.",
        "value": {
          "error": "Not found."
        }
      },
      "UnauthorizedGatedDatasetError": {
        "summary": "The dataset is public but gated, and you are not authenticated or authorized.",
        "description": "try with dataset=severo/test_gated.",
        "value": {
          "error": "The dataset does not exist, or is not accessible without authentication (private or gated). Please check the spelling of the dataset name or retry with authentication."
        }
      },
      "MissingDatasetParameterError": {
        "summary": "The dataset parameter is missing.",
        "description": "try without setting ?dataset",
        "value": {
          "error": "Parameter 'dataset' is required"
        }
      },
      "EmptyDatasetParameterError": {
        "summary": "The dataset parameter is empty.",
        "description": "try with ?dataset=",
        "value": {
          "error": "Parameter 'dataset' is required"
        }
      },
      "MissingDatasetConfigSplitParameterError": {
        "summary": "One of the dataset, config or split parameters is missing.",
        "description": "try without setting ?dataset",
        "value": {
          "error": "Parameters 'dataset', 'config' and 'split' are required"
        }
      },
      "EmptyDatasetConfigSplitParameterError": {
        "summary": "One of the dataset, config or split parameters is empty.",
        "description": "try with ?dataset=",
        "value": {
          "error": "Parameters 'dataset', 'config' and 'split' are required"
        }
      },
      "ResponseNotReadyError": {
        "summary": "The response is not ready yet. You can retry later. The response header 'x-error-code' contains 'ResponseNotReady'.",
        "description": "Create a new dataset and try immediately, before the response could be generated.",
        "value": {
          "error": "The server is busier than usual and the response is not ready yet. Please retry later."
        }
      },
      "UnexpectedJsonError": {
        "summary": "The server encountered an unexpected error",
        "description": "This error indicates a bug in the code or a failure in the infrastructure. It can be reported to https://github.com/huggingface/dataset-viewer/issues.",
        "value": {
          "error": "Unexpected error."
        }
      },
      "UnexpectedTextError": {
        "summary": "The server encountered an unexpected error",
        "description": "This error indicates a bug in the code or a failure in the infrastructure. It can be reported to https://github.com/huggingface/dataset-viewer/issues.",
        "value": "Internal Server Error."
      }
    },
    "parameters": {
      "RequiredDataset": {
        "name": "dataset",
        "in": "query",
        "description": "The identifier of the dataset on the Hub.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "ylecun/mnist": {
            "summary": "A dataset",
            "value": "ylecun/mnist"
          }
        }
      },
      "RequiredConfig": {
        "name": "config",
        "in": "query",
        "description": "The dataset subset (also called 'configuration').",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "cola": {
            "summary": "A subset of the nyu-mll/glue dataset",
            "value": "cola"
          },
          "yangdong/ecqa": {
            "summary": "The default configuration given by the 🤗 Datasets library",
            "value": "default"
          }
        }
      },
      "RequiredSplit": {
        "name": "split",
        "in": "query",
        "description": "The split name.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "examples": {
          "train": {
            "summary": "train split",
            "value": "train"
          },
          "test": {
            "summary": "test split",
            "value": "test"
          },
          "validation": {
            "summary": "validation split",
            "value": "validation"
          }
        }
      },
      "OptionalConfig": {
        "name": "config",
        "in": "query",
        "description": "The dataset subset on which to filter the response.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "cola": {
            "summary": "A subset of the nyu-mll/glue dataset",
            "value": "cola"
          },
          "yangdong/ecqa": {
            "summary": "The default subset given by the 🤗 Datasets library",
            "value": "default"
          }
        }
      },
      "OptionalSplit": {
        "name": "split",
        "in": "query",
        "description": "The split name.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "train": {
            "summary": "train split",
            "value": "train"
          },
          "test": {
            "summary": "test split",
            "value": "test"
          },
          "validation": {
            "summary": "validation split",
            "value": "validation"
          }
        }
      }
    },
    "responses": {
      "Common401": {
        "description": "If the external authentication step on the Hugging Face Hub failed, and no authentication mechanism has been provided. Retry with authentication.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-401"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "inexistent dataset, and not authenticated": {
                "$ref": "#/components/examples/InexistentDatasetError"
              },
              "private dataset, and not authenticated or authorized": {
                "$ref": "#/components/examples/UnauthorizedPrivateDatasetError"
              }
            }
          }
        }
      },
      "Dataset404": {
        "description": "If the repository to download from cannot be found. This may be because it doesn't exist, or because it is set to `private` and you do not have access.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-404"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "inexistent dataset, while authenticated": {
                "$ref": "#/components/examples/InexistentDatasetError"
              },
              "private dataset, while authenticated and authorized": {
                "$ref": "#/components/examples/AuthorizedPrivateDatasetError"
              },
              "gated dataset, and not authenticated or authorized": {
                "$ref": "#/components/examples/UnauthorizedGatedDatasetError"
              }
            }
          }
        }
      },
      "Dataset422": {
        "description": "The 'dataset' parameter has not been provided or is invalid.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-422"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "missing dataset parameter": {
                "$ref": "#/components/examples/MissingDatasetParameterError"
              },
              "empty dataset parameter": {
                "$ref": "#/components/examples/EmptyDatasetParameterError"
              }
            }
          }
        }
      },
      "DatasetConfig404": {
        "description": "If the repository to download from cannot be found. This may be because it doesn't exist, or because it is set to `private` and you do not have access.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-404"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "inexistent dataset, while authenticated": {
                "$ref": "#/components/examples/InexistentDatasetError"
              },
              "private dataset, while authenticated and authorized": {
                "$ref": "#/components/examples/AuthorizedPrivateDatasetError"
              },
              "gated dataset, and not authenticated or authorized": {
                "$ref": "#/components/examples/UnauthorizedGatedDatasetError"
              },
              "inexistent config": {
                "$ref": "#/components/examples/InexistentConfigError"
              }
            }
          }
        }
      },
      "DatasetConfigSplit404": {
        "description": "If the repository to download from cannot be found, or if the config or split does not exist in the dataset. Note that this may be because the dataset doesn't exist, or because it is set to `private` and you do not have access.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-404"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "inexistent dataset, while authenticated": {
                "$ref": "#/components/examples/InexistentDatasetError"
              },
              "private dataset, while authenticated and authorized": {
                "$ref": "#/components/examples/AuthorizedPrivateDatasetError"
              },
              "gated dataset, and not authenticated or authorized": {
                "$ref": "#/components/examples/UnauthorizedGatedDatasetError"
              },
              "inexistent config": {
                "$ref": "#/components/examples/InexistentConfigError"
              },
              "inexistent split": {
                "$ref": "#/components/examples/InexistentSplitError"
              }
            }
          }
        }
      },
      "DatasetConfigSplit422": {
        "description": "Some of the 'dataset', 'config' or 'split' parameters have not been provided or are invalid.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/Cache-Control"
          },
          "Access-Control-Allow-Origin": {
            "$ref": "#/components/headers/Access-Control-Allow-Origin"
          },
          "X-Error-Code": {
            "$ref": "#/components/headers/X-Error-Code-422"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CustomError"
            },
            "examples": {
              "missing required parameter": {
                "$ref": "#/components/examples/MissingDatasetConfigSplitParameterError"
              },
              "empty required parameter": {
                "$ref": "#/components/examples/EmptyDatasetConfigSplitParameterError"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/splits": {
      "get": {
        "summary": "List of splits",
        "description": "The list of splits of a dataset.",
        "externalDocs": {
          "description": "See Splits (Hub docs)",
          "url": "https://huggingface.co/docs/dataset-viewer/splits"
        },
        "operationId": "listSplits",
        "security": [
          {},
          {
            "AuthorizationHuggingFaceApiToken": []
          },
          {
            "AuthorizationHuggingFaceJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredDataset"
          },
          {
            "$ref": "#/components/parameters/OptionalConfig"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of splits.</br>Beware: the response is not paginated.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitsResponse"
                },
                "examples": {
                  "all splits in a dataset": {
                    "summary": "ibm/duorc: two configs, six splits",
                    "description": "Try with https://datasets-server.huggingface.co/splits?dataset=ibm/duorc.",
                    "value": {
                      "splits": [
                        {
                          "dataset": "ibm/duorc",
                          "config": "ParaphraseRC",
                          "split": "train"
                        },
                        {
                          "dataset": "ibm/duorc",
                          "config": "ParaphraseRC",
                          "split": "validation"
                        },
                        {
                          "dataset": "ibm/duorc",
                          "config": "ParaphraseRC",
                          "split": "test"
                        },
                        {
                          "dataset": "ibm/duorc",
                          "config": "SelfRC",
                          "split": "train"
                        },
                        {
                          "dataset": "ibm/duorc",
                          "config": "SelfRC",
                          "split": "validation"
                        },
                        {
                          "dataset": "ibm/duorc",
                          "config": "SelfRC",
                          "split": "test"
                        }
                      ],
                      "pending": [],
                      "failed": []
                    }
                  },
                  "splits for a single subset": {
                    "summary": "dair-ai/emotion has two subsets. Setting config=unsplit only returns the splits for this subset.",
                    "description": "Try with https://datasets-server.huggingface.co/splits?dataset=dair-ai/emotion&config=unsplit.",
                    "value": {
                      "splits": [
                        {
                          "dataset": "dair-ai/emotion",
                          "config": "unsplit",
                          "split": "train"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common401"
          },
          "404": {
            "$ref": "#/components/responses/DatasetConfig404"
          },
          "422": {
            "$ref": "#/components/responses/Dataset422"
          },
          "500": {
            "description": "The server crashed, the response still hasn't been generated (the process is asynchronous), or the response couldn't be generated successfully due to an error in the dataset itself. The client can retry after a time, in particular in the case of the response still being processed. If the error does not vanish, it's possibly due to a bug in the API software or in the dataset, and should be reported.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "X-Error-Code": {
                "$ref": "#/components/headers/X-Error-Code-500"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomError"
                },
                "examples": {
                  "error in the dataset itself": {
                    "summary": "The dataset is empty, or a file is missing, or some other error that prevents the response to be created.",
                    "description": "Try with https://datasets-server.huggingface.co/splits?dataset=severo/empty",
                    "value": {
                      "error": "The dataset is empty.",
                      "cause_exception": "EmptyDatasetError",
                      "cause_message": "The directory at hf://datasets/severo/empty@5db043c2aee5fe0f2118c134de45f7b2e3230fbc doesn't contain any data files",
                      "cause_traceback": [
                        "Traceback (most recent call last):\n",
                        "  File \"/src/services/worker/src/worker/job_runners/dataset/config_names.py\", line 56, in compute_config_names_response\n    for config in sorted(get_dataset_config_names(path=dataset, use_auth_token=use_auth_token))\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/inspect.py\", line 351, in get_dataset_config_names\n    dataset_module = dataset_module_factory(\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/load.py\", line 1486, in dataset_module_factory\n    raise e1 from None\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/load.py\", line 1469, in dataset_module_factory\n    return HubDatasetModuleFactoryWithoutScript(\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/load.py\", line 1032, in get_module\n    else get_data_patterns(base_path, download_config=self.download_config)\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/datasets/data_files.py\", line 459, in get_data_patterns\n    raise EmptyDatasetError(f\"The directory at {base_path} doesn't contain any data files\") from None\n",
                        "datasets.data_files.EmptyDatasetError: The directory at hf://datasets/severo/empty@5db043c2aee5fe0f2118c134de45f7b2e3230fbc doesn't contain any data files\n"
                      ]
                    }
                  },
                  "response not ready": {
                    "$ref": "#/components/examples/ResponseNotReadyError"
                  },
                  "unexpected error": {
                    "$ref": "#/components/examples/UnexpectedJsonError"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                },
                "examples": {
                  "internal server error": {
                    "$ref": "#/components/examples/UnexpectedTextError"
                  }
                }
              }
            }
          },
          "501": {
            "description": "The server does not implement the feature.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "X-Error-Code": {
                "$ref": "#/components/headers/X-Error-Code-501"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomError"
                },
                "examples": {
                  "too many subsets in the dataset": {
                    "summary": "The dataset has too many subsets. The server does not support more than 3,000 subsets.",
                    "description": "Try with https://datasets-server.huggingface.co/splits?dataset=facebook/flores",
                    "value": {
                      "error": "The maximum number of configs allowed is 3000, dataset has 41617 configs."
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {}
        }
      }
    },
    "/first-rows": {
      "get": {
        "summary": "First rows of a split",
        "description": "The list of the 100 first rows of a dataset split.",
        "externalDocs": {
          "description": "See First rows (Hub docs)",
          "url": "https://huggingface.co/docs/dataset-viewer/first-rows"
        },
        "operationId": "listFirstRows",
        "security": [
          {},
          {
            "AuthorizationHuggingFaceApiToken": []
          },
          {
            "AuthorizationHuggingFaceJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredDataset"
          },
          {
            "$ref": "#/components/parameters/RequiredConfig"
          },
          {
            "$ref": "#/components/parameters/RequiredSplit"
          }
        ],
        "responses": {
          "200": {
            "description": "The <a href='https://huggingface.co/docs/datasets/about_dataset_features'>features</a>, and the 100 first rows of the split.</br>Note: the response can be truncated (less rows, or truncated cell contents): see examples.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirstRowsResponse"
                },
                "examples": {
                  "A simple dataset (stanfordnlp/stanfordnlp/imdb) with text and label": {
                    "summary": "Text, and label column. Only 3 rows are shown for brevity.",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=stanfordnlp/imdb&config=plain_text&split=train.",
                    "value": {
                      "dataset": "stanfordnlp/imdb",
                      "config": "plain_text",
                      "split": "train",
                      "features": [
                        {
                          "feature_idx": 0,
                          "name": "text",
                          "type": {
                            "dtype": "string",
                            "_type": "Value"
                          }
                        },
                        {
                          "feature_idx": 1,
                          "name": "label",
                          "type": {
                            "names": ["neg", "pos"],
                            "_type": "ClassLabel"
                          }
                        }
                      ],
                      "rows": [
                        {
                          "row_idx": 0,
                          "row": {
                            "text": "I rented I AM CURIOUS-YELLOW from my video store because of all the controversy that surrounded it when it was first released in 1967. I also heard that at first it was seized by U.S. customs if it ever tried to enter this country, therefore being a fan of films considered \"controversial\" I really had to see this for myself.<br /><br />The plot is centered around a young Swedish drama student named Lena who wants to learn everything she can about life. In particular she wants to focus her attentions to making some sort of documentary on what the average Swede thought about certain political issues such as the Vietnam War and race issues in the United States. In between asking politicians and ordinary denizens of Stockholm about their opinions on politics, she has sex with her drama teacher, classmates, and married men.<br /><br />What kills me about I AM CURIOUS-YELLOW is that 40 years ago, this was considered pornographic. Really, the sex and nudity scenes are few and far between, even then it's not shot like some cheaply made porno. While my countrymen mind find it shocking, in reality sex and nudity are a major staple in Swedish cinema. Even Ingmar Bergman, arguably their answer to good old boy John Ford, had sex scenes in his films.<br /><br />I do commend the filmmakers for the fact that any sex shown in the film is shown for artistic purposes rather than just to shock people and make money to be shown in pornographic theaters in America. I AM CURIOUS-YELLOW is a good film for anyone wanting to study the meat and potatoes (no pun intended) of Swedish cinema. But really, this film doesn't have much of a plot.",
                            "label": 0
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 1,
                          "row": {
                            "text": "\"I Am Curious: Yellow\" is a risible and pretentious steaming pile. It doesn't matter what one's political views are because this film can hardly be taken seriously on any level. As for the claim that frontal male nudity is an automatic NC-17, that isn't true. I've seen R-rated films with male nudity. Granted, they only offer some fleeting views, but where are the R-rated films with gaping vulvas and flapping labia? Nowhere, because they don't exist. The same goes for those crappy cable shows: schlongs swinging in the breeze but not a clitoris in sight. And those pretentious indie movies like The Brown Bunny, in which we're treated to the site of Vincent Gallo's throbbing johnson, but not a trace of pink visible on Chloe Sevigny. Before crying (or implying) \"double-standard\" in matters of nudity, the mentally obtuse should take into account one unavoidably obvious anatomical difference between men and women: there are no genitals on display when actresses appears nude, and the same cannot be said for a man. In fact, you generally won't see female genitals in an American film in anything short of porn or explicit erotica. This alleged double-standard is less a double standard than an admittedly depressing ability to come to terms culturally with the insides of women's bodies.",
                            "label": 0
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 2,
                          "row": {
                            "text": "If only to avoid making this type of film in the future. This film is interesting as an experiment but tells no cogent story.<br /><br />One might feel virtuous for sitting thru it because it touches on so many IMPORTANT issues but it does so without any discernable motive. The viewer comes away with no new perspectives (unless one comes up with one while one's mind wanders, as it will invariably do during this pointless film).<br /><br />One might better spend one's time staring out a window at a tree growing.<br /><br />",
                            "label": 0
                          },
                          "truncated_cells": []
                        }
                      ],
                      "truncated": false
                    }
                  },
                  "Truncated cells": {
                    "summary": "Truncated cells due to the response size (has a timestamp column).",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=ETDataset/ett&config=m2&split=test.",
                    "value": {
                      "dataset": "ETDataset/ett",
                      "config": "m2",
                      "split": "test",
                      "features": [
                        {
                          "feature_idx": 0,
                          "name": "start",
                          "type": {
                            "dtype": "timestamp[s]",
                            "_type": "Value"
                          }
                        },
                        {
                          "feature_idx": 1,
                          "name": "target",
                          "type": {
                            "feature": {
                              "dtype": "float32",
                              "_type": "Value"
                            },
                            "_type": "List"
                          }
                        },
                        {
                          "feature_idx": 2,
                          "name": "feat_static_cat",
                          "type": {
                            "feature": {
                              "dtype": "uint64",
                              "_type": "Value"
                            },
                            "_type": "List"
                          }
                        },
                        {
                          "feature_idx": 3,
                          "name": "feat_dynamic_real",
                          "type": {
                            "feature": {
                              "feature": {
                                "dtype": "float32",
                                "_type": "Value"
                              },
                              "_type": "List"
                            },
                            "_type": "List"
                          }
                        },
                        {
                          "feature_idx": 4,
                          "name": "item_id",
                          "type": {
                            "dtype": "string",
                            "_type": "Value"
                          }
                        }
                      ],
                      "rows": [
                        {
                          "row_idx": 0,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 1,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 2,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 3,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 4,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 5,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 6,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 7,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 8,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        },
                        {
                          "row_idx": 9,
                          "row": {
                            "start": "2016-07-01T00:00:00",
                            "target": "[38.6619987487793,38.222999572753906,37.34400177001953,37.124000549316406,37.124000549316406,36.9039",
                            "feat_static_cat": [0],
                            "feat_dynamic_real": "[[41.130001068115234,39.62200164794922,38.86800003051758,35.518001556396484,37.52799987792969,37.611",
                            "item_id": "OT"
                          },
                          "truncated_cells": ["target", "feat_dynamic_real"]
                        }
                      ],
                      "truncated": true
                    }
                  },
                  "Image column": {
                    "summary": "A column with images. Only 3 rows are shown for brevity.",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=huggan/horse2zebra&config=default&split=train.",
                    "value": {
                      "dataset": "huggan/horse2zebra",
                      "config": "default",
                      "split": "train",
                      "features": [
                        {
                          "feature_idx": 0,
                          "name": "imageA",
                          "type": { "_type": "Image" }
                        },
                        {
                          "feature_idx": 1,
                          "name": "imageB",
                          "type": { "_type": "Image" }
                        }
                      ],
                      "rows": [
                        {
                          "row_idx": 0,
                          "row": {
                            "imageA": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/67e0da2e44e860e37857edf17af7b2656b3be221/--/default/train/0/imageA/image.jpg?Expires=1710430932&Signature=zozXKy248etfBQFS4sfUuMwtEvD1OND8ioc3UN5tQ3yYzXdZFo4BiJI5oY0TfE83z~CtLL-Ni5j3lwlBV5L6wO8ymYlR-4CLRyazIx0-1kxQTSKgK2-Ae6uUpYtqqN7tOZMHUYT8l71nGp~YQ8nFhJ9Nlzom3Lc~slnkHWFktExeEo8ZEYH6zDB3wy6exo6~WdD2dMDiVne1aCuwcs~RidUXMhIllYA-WjWC9sZMXWdSzu41YV3x~WJd5U02eSZg04-gXcVOOW8KSgYuDzGZWA-rFTKz054-BIQxvKb4Hy1joUHVSbrSx88qGTJFfeGNGy9DCYX~vBc9zZ8~l8WE7w__&Key-Pair-Id=K3EI6M078Z3AC3",
                              "height": 256,
                              "width": 256
                            },
                            "imageB": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/67e0da2e44e860e37857edf17af7b2656b3be221/--/default/train/0/imageB/image.jpg?Expires=1710430932&Signature=eFyrF9DAKw3m8vbebm8CBym~byHbzZbTNwYWd0LqZ3rvM8KofUMGCLTERtH~oIUqWmFBbTWXa4IewozsWR5H9VMCgGAFF-2fXOntrAu~QgkNB5pAt3BAevMjnyCNYX-SQjgDeJ5M6p9oaHt4iFX210ITI~o0BVabXX5RJmEJUY3LZFh1-VX5ZI9hub-7hx661sGH5avEnSvz5xtafLaZSYzD9pcoNJuE9hWQOeC~nv7JhXamT~~ZG-iKyJyWJXg9umK6nAIPewAJBOPQivoITzirhGMG~qFvkJbpWrgmsYmr~~swYm8X0bMHUSr0Zj1yXKxMRjVBCzgtL~1eym7-mQ__&Key-Pair-Id=K3EI6M078Z3AC3",
                              "height": 256,
                              "width": 256
                            }
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 1,
                          "row": {
                            "imageA": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/67e0da2e44e860e37857edf17af7b2656b3be221/--/default/train/1/imageA/image.jpg?Expires=1710430932&Signature=nKvinmfHvG~dlANvbld6LWfM~5k2-DoDJWdesj-YlqGynJ7J83Pr1tGbIlJPBrA~ugl~zGt5i~DtUlogAXJo~ofSaH7WrgI5ffWnBMLgzvXKPa7Ktm5EkbXJTOCubeA9kHStUZ0h3yQJrzkP1wbbwFkaI7tKfI14MhRWUCbgrPUTaZWUcSMK28YZvCpJlYJMYug8uu~aMXE1TJj~zbvMHKBGJoTIksVlf7E7MK6fAqYOl7lNeEUd5qGrN9flvhY23TR9tmFncZFfxCRZItbkyrvCWCgs2pSHdMBYCuS-Io4Bc4r4FFlYUvB1aVrgf7LizqPU9gGk-BRMis5iT~LdjA__&Key-Pair-Id=K3EI6M078Z3AC3",
                              "height": 256,
                              "width": 256
                            },
                            "imageB": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/67e0da2e44e860e37857edf17af7b2656b3be221/--/default/train/1/imageB/image.jpg?Expires=1710430932&Signature=ZclSwX9zuO8R~hcYPW4LC8uLditjlHHXH9eDixM265CH1UOr1NT7-e~o7BkRBlRUt4XRJTzRrbCpCEGCOFg3f1Xhm411l3nXwvDHlLWFyF-h1yql3ERLxsS1Uk9IEnW2mNSWYBKO6ZpboXh~kWTsnbiOTTH6~GPNJD0weWqADiRdJYpzYOjZ6cG1I-AxUmkltgLOusp6Bj4fgOmbulMn2xn~ZLIvhCr5dnXbN6X2eGzGEnSVr742wH5FrlCPM66NhHhB8P4w0RAiPCp93dkFzXE3ramSffZ1vd-2BdZmHvMeupCYmcfEDxLwHnRJM0nc9FOQKqH2JhEmsMm~di0TKQ__&Key-Pair-Id=K3EI6M078Z3AC3",
                              "height": 256,
                              "width": 256
                            }
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 2,
                          "row": {
                            "imageA": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/67e0da2e44e860e37857edf17af7b2656b3be221/--/default/train/2/imageA/image.jpg?Expires=1710430932&Signature=uq5l~PHqBWsTW2QtzPSjHdTaQZy0ku9i~5zkvvLZIwiatWPLr0DwXvHAuVBLUzlU2w9BnJl~wDEs7Oxh3TA-ELe9WuW9APek7ZeNWGmLt5MIjIj4pd6apCgLY6PoKhHot~l0at3HiAtduhoSzvY5ZOt2KYkMBUxbCsJSNOOE88xJh-E6gbODgXqVuN1Som6mpbj812IsK79lwqgHd8EiJQMNo7KCEY33g2Wu8~sArOIwUNwslCyOp1FUyZZpcU1h4ihu244tFA55LfG6folvjXzlQ1FxFjK84ZNnjqJzjaVRigsB9q8EZdeVq-86xZgJxhWqBzab9aBWjSrsoCwQ7A__&Key-Pair-Id=K3EI6M078Z3AC3",
                              "height": 256,
                              "width": 256
                            },
                            "imageB": {
                              "src": "https://datasets-server.huggingface.co/assets/huggan/horse2zebra/--/67e0da2e44e860e37857edf17af7b2656b3be221/--/default/train/2/imageB/image.jpg?Expires=1710430932&Signature=XLSxYM6ZOcJQ7zaF4plNYIddwC~DeCo9M2J4GV9DuJab3R1dXidz-0J-MfaCfVhujC6GWnIfvY0TDZJUbcXMbfOYwo9wjYvrtKixZnpnWtSq8Xsg~Xc-6XBK-imA8KMnD58GTy7KJ7xCbLYcduZKnuc6VtF664x9QcVrvQb00RoAzEcmAQkh877ELen5uTOnxTfSfesO9KjqG06br6yDrxzs0cGmr7aJLygKnNcPuABt87Fk~-oR41Kmb1iE0mXtcNJ1Dkbgifl9w9MBXCISJQMHD-Q8yM~shs5iY5TQV7wOBmBkj~m-vrBlli5GWmxl-8krU-GLGaJV3CfBway80g__&Key-Pair-Id=K3EI6M078Z3AC3",
                              "height": 256,
                              "width": 256
                            }
                          },
                          "truncated_cells": []
                        }
                      ],
                      "truncated": true
                    }
                  },
                  "Audio column": {
                    "summary": "A column with audio files. Only 3 rows are shown for brevity.",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=facebook/voxpopuli&config=cs&split=train.",
                    "value": {
                      "dataset": "facebook/voxpopuli",
                      "config": "cs",
                      "split": "train",
                      "features": [
                        {
                          "feature_idx": 0,
                          "name": "audio_id",
                          "type": { "dtype": "string", "_type": "Value" }
                        },
                        {
                          "feature_idx": 1,
                          "name": "language",
                          "type": {
                            "names": [
                              "en",
                              "de",
                              "fr",
                              "es",
                              "pl",
                              "it",
                              "ro",
                              "hu",
                              "cs",
                              "nl",
                              "fi",
                              "hr",
                              "sk",
                              "sl",
                              "et",
                              "lt",
                              "en_accented"
                            ],
                            "_type": "ClassLabel"
                          }
                        },
                        {
                          "feature_idx": 2,
                          "name": "audio",
                          "type": { "sampling_rate": 16000, "_type": "Audio" }
                        },
                        {
                          "feature_idx": 3,
                          "name": "raw_text",
                          "type": { "dtype": "string", "_type": "Value" }
                        },
                        {
                          "feature_idx": 4,
                          "name": "normalized_text",
                          "type": { "dtype": "string", "_type": "Value" }
                        },
                        {
                          "feature_idx": 5,
                          "name": "gender",
                          "type": { "dtype": "string", "_type": "Value" }
                        },
                        {
                          "feature_idx": 6,
                          "name": "speaker_id",
                          "type": { "dtype": "string", "_type": "Value" }
                        },
                        {
                          "feature_idx": 7,
                          "name": "is_gold_transcript",
                          "type": { "dtype": "bool", "_type": "Value" }
                        },
                        {
                          "feature_idx": 8,
                          "name": "accent",
                          "type": { "dtype": "string", "_type": "Value" }
                        }
                      ],
                      "rows": [
                        {
                          "row_idx": 0,
                          "row": {
                            "audio_id": "20140204-0900-PLENARY-23-cs_20140204-22:43:32_1",
                            "language": 8,
                            "audio": [
                              {
                                "src": "https://datasets-server.huggingface.co/assets/facebook/voxpopuli/--/cs/train/0/audio/audio.wav?Expires=1710431144&Signature=x1PmZKI9Atra5wr06NyIMkklk7uTLF2cUvwvxMK6kCzoPkR-OgtYdPtWw~4PNOvI~wnOoc3JiS39ym~YG8x1UjlBAVUypb80qVrrCT1ni5i0N5wvybcdwP56ts8pViwXgyrkbFT9WcImOCfeMdwEsTA~T6wFKYzklEx2kIOhIYkKSD65dUOt8FAsW5qloQ6pTs9RRoCXTQJtWfzpfs5rim1N~8BcaIupnC7ic3P~m-NkaGm-wJi8RWUjGXcepmGoSHV2OeeXB7xJ13JqPjK33QXdrrDxW59oR43Ikcr4NGuyKzuu1mEvS3VHrOpl87zW5qJyv3~ra1bRIoK3fegPtw__&Key-Pair-Id=K3EI6M078Z3AC3",
                                "type": "audio/wav"
                              }
                            ],
                            "raw_text": "Musí být transparentní a srozumitelný, firmám musí zaručovat právní jistotu, musí usilovat o odstraňování zbytečných byrokratických překážek, ale současně musí umět zaručit a vymoci i vysokou úroveň ochrany spotřebitelů, a zejména jejich bezpečnost.",
                            "normalized_text": "musí být transparentní a srozumitelný firmám musí zaručovat právní jistotu musí usilovat o odstraňování zbytečných byrokratických překážek ale současně musí umět zaručit a vymoci i vysokou úroveň ochrany spotřebitelů a zejména jejich bezpečnost.",
                            "gender": "female",
                            "speaker_id": "96718",
                            "is_gold_transcript": true,
                            "accent": "None"
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 1,
                          "row": {
                            "audio_id": "20160414-0900-PLENARY-10-cs_20160414-13:44:10_1",
                            "language": 8,
                            "audio": [
                              {
                                "src": "https://datasets-server.huggingface.co/assets/facebook/voxpopuli/--/cs/train/1/audio/audio.wav?Expires=1710431144&Signature=bAG9Jlhy5WLZhKcCId4e3tEoCpozDe7exW44BsZf~iWJEX9i20LLv8wqGWqgrv0lxpUuIEiuEmncQGT8FMR-tW-MLSaTJf0fDoD0n0C78TVb5eGaTH0dIy8EHHULa7Rk-evgV2sGxaQkypmMaHlwRmIEgAqtHfapntIJzhURpz8b9rIlNZWggqdSW-vzi7iWJvSJXDeF9Oh94c5Hprz2EGK3Mz0760XlIfwcAk~abGrrh70TeRISflXISjw8zA25OUd9bU9Do~C~ggabPaoL3NW61dUxZ8jjfuPYusCXcYPIadA6Hl1AUEe71rrwaDGipbqGYgCUl-OaNpSB1eIzQQ__&Key-Pair-Id=K3EI6M078Z3AC3",
                                "type": "audio/wav"
                              }
                            ],
                            "raw_text": "Ve chvíli, kdy jsou data dostatečně chráněna předchozími právními texty, které také dnes byly schváleny, jsem přesvědčen, že vzhledem k trvale hrozícím teroristickým útokům v Evropě je nutné, aby policie při vyšetřování teroristických útoků a jiných forem závažné činnosti se mohla dostat k informacím, kdo kam letěl.",
                            "normalized_text": "ve chvíli kdy jsou data dostatečně chráněna předchozími právními texty které také dnes byly schváleny jsem přesvědčen že vzhledem k trvale hrozícím teroristickým útokům v evropě je nutné aby policie při vyšetřování teroristických útoků a jiných forem závažné činnosti se mohla dostat k informacím kdo kam letěl.",
                            "gender": "male",
                            "speaker_id": "125706",
                            "is_gold_transcript": true,
                            "accent": "None"
                          },
                          "truncated_cells": []
                        },
                        {
                          "row_idx": 2,
                          "row": {
                            "audio_id": "20170912-0900-PLENARY-7-cs_20170912-12:00:04_3",
                            "language": 8,
                            "audio": [
                              {
                                "src": "https://datasets-server.huggingface.co/assets/facebook/voxpopuli/--/cs/train/2/audio/audio.wav?Expires=1710431144&Signature=uiFrPX6TSfUUuQCGhRmDnBIHs69N47qnktE2Xo0JwxF1As9Gj8GQTKT~yowyPrALvrdZ-SGIfLHFQAkjcZjo9bKJ1nIy4vx34KZgR7HHM~xwk~ig4Fpvk4pe7f4gBVSwtYf13YbI4eheGg5i5Bc4ORhuLj5fAIZJ0FYyPlVcEd9SlNU-FEFHFryNyoBx2D-KJSyxKF7kNWfBE3tkXvDbhWrgkh0Oa5lrBwz8Y83eeheT3lB1O07Ea4-UAUtjvXA6c-eIHUPelIXeOoeFgHi7LoagPCHhig2ysE~AfO-zugg7AsOzvJepLKQB3NMF26ZOPHl4WuZzHKoOPgngjTyFSA__&Key-Pair-Id=K3EI6M078Z3AC3",
                                "type": "audio/wav"
                              }
                            ],
                            "raw_text": "A já se vás tedy ptám Opravdu je toto způsob, kterým se představujeme spolupráci a ochranu spotřebitelů?",
                            "normalized_text": "a já se vás tedy ptám opravdu je toto způsob kterým se představujeme spolupráci a ochranu spotřebitelů?",
                            "gender": "female",
                            "speaker_id": "23699",
                            "is_gold_transcript": true,
                            "accent": "None"
                          },
                          "truncated_cells": []
                        }
                      ],
                      "truncated": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common401"
          },
          "404": {
            "$ref": "#/components/responses/DatasetConfigSplit404"
          },
          "422": {
            "$ref": "#/components/responses/DatasetConfigSplit422"
          },
          "500": {
            "description": "The server crashed, the response still hasn't been generated (the process is asynchronous), or the response couldn't be generated successfully due to an error in the dataset itself. The client can retry after a time, in particular in the case of the response still being processed. If the error does not vanish, it's possibly due to a bug in the API software or in the dataset, and should be reported.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "X-Error-Code": {
                "$ref": "#/components/headers/X-Error-Code-500-first-rows"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomError"
                },
                "examples": {
                  "error in the dataset itself": {
                    "summary": "An error while processing the dataset prevents the response to be created.",
                    "description": "Try with https://datasets-server.huggingface.co/first-rows?dataset=allenai/atomic&config=atomic&split=train",
                    "value": {
                      "error": "Cannot load the dataset split (in streaming mode) to extract the first rows.",
                      "cause_exception": "FileNotFoundError",
                      "cause_message": "https://homes.cs.washington.edu/~msap/atomic/data/atomic_data.tgz",
                      "cause_traceback": [
                        "Traceback (most recent call last):\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/implementations/http.py\", line 417, in _info\n    await _file_info(\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/fsspec/implementations/http.py\", line 837, in _file_info\n    r.raise_for_status()\n",
                        "  File \"/src/services/worker/.venv/lib/python3.9/site-packages/aiohttp/client_reqrep.py\", line 1005, in raise_for_status\n    raise ClientResponseError(\n",
                        "aiohttp.client_exceptions.ClientResponseError: 404, message='Not Found', url=URL('https://maartensap.com/atomic/data/atomic_data.tgz')\n",
                        "\nThe above exception was the direct cause of the following exception:\n\n",
                        "Traceback (most recent call last):\n",
                        "  File \"/src/services/worker/src/worker/utils.py\", line 363, in get_rows_or_raise\n    return get_rows(\n",
                        "  File \"/src/services/worker/src/worker/utils.py\", line 305, in decorator\n    return func(*args, **kwargs)\n",
[...]
