version: "3.9"
services:
  reverse-proxy:
    image: ${IMAGE_REVERSE_PROXY?IMAGE_REVERSE_PROXY env var must be provided}
    volumes:
      - ../chart/nginx-templates/:/etc/nginx/templates:ro
      - reverse-proxy-cache:/nginx-cache
      - assets:/assets:ro
      - ../chart/static-files/openapi.json:/static-files/openapi.json:ro
    ports:
      - "${PORT_REVERSE_PROXY-8000}:80"
    environment:
      ASSETS_DIRECTORY: /assets
      CACHE_DIRECTORY: /nginx-cache
      CACHE_INACTIVE: 24h
      CACHE_MAX_SIZE: 1g
      CACHE_ZONE_SIZE: 50m
      HOST: localhost
      PORT: 80
      URL_ADMIN: http://admin:8081
      URL_API: http://api:8080
    depends_on:
      - api
  api:
    image: ${IMAGE_API?IMAGE_API env var must be provided}
    volumes:
      - assets:/assets:ro
    environment:
      APP_HOSTNAME: 0.0.0.0
      APP_NUM_WORKERS: 1
      APP_PORT: 8080
      ASSETS_DIRECTORY: "/assets"
      HF_ENDPOINT: ${HF_ENDPOINT}
      # use shorter cache durations for the e2e tests
      MAX_AGE_SHORT_SECONDS: 1
      MAX_AGE_LONG_SECONDS: 2
      MONGO_URL: "mongodb://mongodb"
    ports:
      # for debug
      - ${PORT_API-8080}:8080
    depends_on:
      - mongodb
    restart: unless-stopped
  worker-datasets:
    image: ${IMAGE_WORKER_DATASETS?IMAGE_WORKER_DATASETS env var must be provided}
    volumes:
      - assets:/assets:rw
      - datasets-cache:/datasets-cache:rw
    environment:
      ASSETS_BASE_URL: "http://localhost:${PORT_REVERSE_PROXY-8000}/assets"
      ASSETS_DIRECTORY: "/assets"
      HF_DATASETS_CACHE: "/datasets-cache"
      HF_ENDPOINT: ${HF_ENDPOINT}
      MONGO_URL: "mongodb://mongodb"
      ROWS_MAX_NUMBER: ${ROWS_MAX_NUMBER-100}
      WORKER_SLEEP_SECONDS: "1"
      WORKER_QUEUE: "datasets"
    depends_on:
      - mongodb
    restart: always
  worker-first-rows:
    image: ${IMAGE_WORKER_FIRST_ROWS?IMAGE_WORKER_FIRST_ROWS env var must be provided}
    volumes:
      - assets:/assets:rw
      - datasets-cache:/datasets-cache:rw
    environment:
      ASSETS_BASE_URL: "http://localhost:${PORT_REVERSE_PROXY-8000}/assets"
      ASSETS_DIRECTORY: "/assets"
      HF_DATASETS_CACHE: "/datasets-cache"
      HF_ENDPOINT: ${HF_ENDPOINT}
      MONGO_URL: "mongodb://mongodb"
      ROWS_MAX_NUMBER: ${ROWS_MAX_NUMBER-100}
      WORKER_SLEEP_SECONDS: "1"
      WORKER_QUEUE: "first_rows_responses"
    depends_on:
      - mongodb
    restart: always
  worker-splits-next:
    image: ${IMAGE_WORKER_SPLITS_NEXT?IMAGE_WORKER_SPLITS_NEXT env var must be provided}
    volumes:
      - assets:/assets:rw
      - datasets-cache:/datasets-cache:rw
    environment:
      ASSETS_BASE_URL: "http://localhost:${PORT_REVERSE_PROXY-8000}/assets"
      ASSETS_DIRECTORY: "/assets"
      HF_DATASETS_CACHE: "/datasets-cache"
      HF_ENDPOINT: ${HF_ENDPOINT}
      MONGO_URL: "mongodb://mongodb"
      ROWS_MAX_NUMBER: ${ROWS_MAX_NUMBER-100}
      WORKER_SLEEP_SECONDS: "1"
      WORKER_QUEUE: "splits_responses"
    depends_on:
      - mongodb
    restart: always
  worker-splits:
    image: ${IMAGE_WORKER_SPLITS?IMAGE_WORKER_SPLITS env var must be provided}
    volumes:
      - assets:/assets:rw
      - datasets-cache:/datasets-cache:rw
    environment:
      ASSETS_BASE_URL: "http://localhost:${PORT_REVERSE_PROXY-8000}/assets"
      ASSETS_DIRECTORY: "/assets"
      HF_DATASETS_CACHE: "/datasets-cache"
      HF_ENDPOINT: ${HF_ENDPOINT}
      MONGO_URL: "mongodb://mongodb"
      ROWS_MAX_NUMBER: ${ROWS_MAX_NUMBER-100}
      WORKER_SLEEP_SECONDS: "1"
      WORKER_QUEUE: "splits"
    depends_on:
      - mongodb
    restart: always
  admin:
    image: ${IMAGE_ADMIN?IMAGE_ADMIN env var must be provided}
    environment:
      APP_HOSTNAME: 0.0.0.0
      APP_NUM_WORKERS: 1
      APP_PORT: 8081
      ASSETS_DIRECTORY: "/assets"
      MONGO_URL: "mongodb://mongodb"
    depends_on:
      - mongodb
    restart: always
    ports:
      # for debug
      - ${PORT_ADMIN-8081}:8081
  mongodb:
    image: mongo
    volumes:
      - mongo:/data/db:rw
      # TODO: authentication, healthcheck, expose?, migrations?
    ports:
      # for debug
      - "${MONGO_PORT-27017}:27017"
volumes:
  assets:
  datasets-cache:
  mongo:
  reverse-proxy-cache:
