name: e2e
on:
  workflow_dispatch:
  push:
    paths:
      - 'e2e/**'
      - 'infra/charts/datasets-server/docker-images.yaml'
      - '.github/workflows/_e2e_tests.yml'
      - '.github/workflows/_quality-python.yml'
      - '.github/workflows/e2e.yml'
      - 'tools/Python.mk'
      - 'tools/docker-compose-datasets-server-from-images.yml'
jobs:
  quality:
    uses: ./.github/workflows/_quality-python.yml
    with:
      working-directory: e2e
  e2e-tests:
    uses: ./.github/workflows/_e2e_tests.yml
    with:
      config-file: infra/charts/datasets-server/docker-images.yaml
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
