# SPDX-License-Identifier: Apache-2.0
# Copyright 2022 The HuggingFace Authors.

name: e2e
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "e2e/**"
      - "libs/**"
      - "services/**"
      - "docs/source/openapi.json"
      - ".github/workflows/_e2e_tests.yml"
      - ".github/workflows/_quality-python.yml"
      - ".github/workflows/e2e.yml"
      - "tools/Python.mk"
      - ".env"
      - "Dockerfile"
      - "docker-compose.yml"
  pull_request:
    paths:
      - "e2e/**"
      - "libs/**"
      - "services/**"
      - "docs/source/openapi.json"
      - ".github/workflows/_e2e_tests.yml"
      - ".github/workflows/_quality-python.yml"
      - ".github/workflows/e2e.yml"
      - "tools/Python.mk"
      - ".env"
      - "Dockerfile"
      - "docker-compose.yml"
jobs:
  quality:
    uses: ./.github/workflows/_quality-python.yml
    with:
      working-directory: e2e
  e2e-tests:
    # execute it after libviewer tests
    uses: ./.github/workflows/_e2e_tests.yml
    needs: e2e-tests-libviewer
    secrets: inherit
    with:
      libviewer_enable: "0"
  e2e-tests-libviewer:
    uses: ./.github/workflows/_e2e_tests.yml
    secrets: inherit
    with:
      libviewer_enable: "1"